
/* Cabeçario */

header {
    margin: 0px;
    padding: 0px;
    height: 10vh;
    background: linear-gradient(180deg, #1E324C 0%, #374C67 100%);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: space-between;
}

header > h1{
    background-color: transparent;
    font-size: 3rem;
    font-style: normal;
    text-align: center;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    margin: 0 auto;
}

footer{
    background: linear-gradient(180deg, #1E324C 0%, #374C67 100%);
}

footer > div{
    background-color: transparent; 
}

/* Fim Rodapé */


body{
    background: linear-gradient(180deg, #5C9EA2 0%, #8EA4A5 100%);
}

/* Fontes das paginas (h1, h3, p, ul) */

main{
    display: flex;
    flex-direction: column;
    margin: 1vh auto;
    width: 80%;
}

main > h1{
    font-size: 3rem;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
}

main h3{
    font-size: 2rem;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
}

main p{
    font-size: 1.2rem;
    font-family: 'Roboto' ,sans-serif;
    font-style: normal;

}

main > div > ul{
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
}

/* Fim fontes */

img{
    display: block;
    margin: 6vh auto 1vh;
    width: 80%;
}

h1, h2, h3{
    font-family: roboto, sans-serif;
    font-weight: bolder;
    margin-bottom: 3vh;
}


h1{
    font-size: 2rem;
    text-align: center;
    background-color: #d9d9d94d;
    width: fit-content;
    padding: 20px 40px;
    margin: 2vh auto;
    border-radius: 3px;
}

h2{
    font-size: 1.7rem;
}

hr{
    border: none;
    border-bottom: #1c45475d solid 5px;
}

footer{
    display: flex;
    justify-content: center;
}


.button {
    text-align: center;
}

.quemsomos {
    width: auto;
    height: 50vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    align-items: center;
    justify-content:space-around;
    text-align: justify;
    text-indent: 1em;
    line-height: 2em;
    font-size: larger;
}

.quemsomos:nth-child(odd){
    margin: 5vh 0;
}

.quemsomos:nth-child(even){
    background-color: #d9d9d9a2;
}

.quemsomos > .text{
    width: 50%;
}


/* The sidepanel menu */
.sidepanel {
    height: 100em; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background: linear-gradient(360deg, #1E324C 0%, #374C67 100%); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  .sidepanel::-webkit-scrollbar{
    display: none;
   
  }
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 34px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 30px 35px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
    margin-bottom: 5vh;
  }

.skills-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;
}

.skills-cards > div[class$="card"]{
    width: 20%;
}

.dark-card, .light-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
}

.dark-card  > h3,
.light-card > h3{
    margin: 1vh auto;
}

.dark-card{
    background-color: #1e324cd5;
    color: white;
}

.light-card{
    background-color: #d9d9d936;
}

.myButton {
    margin: 5vh auto;
	box-shadow: 1px 1px 2px 2px #9fb4f2;
	background-color:#1E324C;
	border-radius:30px;
	border:2px solid #233771;
	cursor:pointer;
	color:#ffffff;
	font-family:roboto, sans-serif;
	font-size:22px;
	font-weight:bold;
	padding:16px 50px;
	text-decoration:none;
	text-shadow:2px 2px 2px #283966;
}
.myButton:hover {
	background:linear-gradient(to bottom, #2f517b 5%, #263757 100%);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}