<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ url_for('static',  filename='css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',  filename='css/styles.css') }}">
    
    <title>Scrum Academy</title>    
    
    <header>
        <button class="openbtn" onclick="openNav()">&#9776; </button>
        <h1>Scrum Academy</h1>

        <div>

            <div id="mySidepanel" class="sidepanel">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="/">Home</a>
                <a href="/introducao">Introdução</a>
                <a href="/importancia">Importância</a>
                <a href="/sprint"> Sprints</a>
                <a href="/sprintbacklog"> Sprint Backlog</a>
                <a href="/mvp">MVP</a>
                <a href="productincrement"> Product Increment</a>
                <a href="/po"> Product Owner</a>
                <a href="/sm"> Scrum Master</a>
                <a href="/equipe"> Equipe de Desenvolvimento</a>
                <a href="/productbacklog"> Product Backlog</a>
                <a href="/dor-dod">DoR e DoD</a>
                <a href="/burndown">Burndown</a>
                <a href="/planningpoker"> Planning Poker</a>
                <a href="/pacer">PACER</a>
                <a href="/skills"> Soft e Hard Skills</a>
                <a href="/quemsomos">Quem Somos</a>
            </div>
              
              <script type="text/javascript" src="../static/script.js"></script>
        </div>
    </header>
    
<body>


    
    <main>
        {% block content %}
        {% endblock %}
        <a href='{{(href)}}' class="myButton">Próximo</a>
    </main>
    
    <footer>
        
            
        <div>
            <h3>Todos os direitos reservados</h3>
        </div>

    </footer>

</body>
</html>