{% extends "base.html"%}
{% block title %}Burndown{% endblock %}
{%block content%}

<h1>Burndown</h1>

<section>

    <h2>O que é?</h2>

    <p>Burndown é uma ferramenta utilizada no Scrum para medir o desempenho de uma equipe durante o processo de desenvolvimento baseado na quantidade de horas de trabalho. Trata-se de uma lista de tarefas necessárias para a conclusão de uma sprint junto de um gráfico da linha do tempo da realização dessas tarefas. No gráfico exitem duas linhas: o desempenho “ideal” vs. o desempenjo real.</p>

</section>
<section>

    <div class="image-text">
        <div class="row d-flex align-items-center">
            <img class=" img-fluid col-md-5 col-sm-10" src="../static/imagens/burndown_img/burndown.png" alt="img1">
            <div class="class=col-sm-12 col-md-6">
                <ul>
                    <li>Ao final da sprint, ambas as linhas devem se encontrar no gráfico indicando que, mesmo com atrasos, o resultado foi entregue</li>
                    <li>Quando a linha vermelha está acima da linha azul, existe um atraso no processo</li>
                    <li>Quando a linha vermelha está abaixo da linha azul, o processo está adiantado</li>
                </ul>
            </div>  
        </div>  
    </div>
</section>

<section>

    <h2>Como utilizo?</h2>

    <div>
        <p>Ao final da Sprint, o Scrum Master junto da equipe observa as tarefas e períodos que causaram atraso e pensa em soluções para evitar esses contratempos.</p>
        <p>A estimativa serve para guiar a eficiência do processo, ou seja, quanto mais próxima as linhas estão, melhor foi estimada a Sprint.</p>
        <img src="../static/imagens/burndown_img/burndown2.jpg" alt="img2">
    </div>
</section>

<hr>

<section class="revisao"> <!-- Revisão -->

    <h1>Vamos Revisar</h1>

    <div class="container">
    <div class="row py-4 row-cols-sm-auto gap-4">
    <div class="col">
        <div class="card dark-card">
            <div class="card-body">
                <h3 class="card-title">O Que é?</h3>
                <p class="card-text">
                    <b>Burndown é um gráfico que representa a relação entre o trabalho a ser feito e o tempo necessário para executá-lo.</b> É uma ferramenta visual do Scrum que permite aos gerentes de projeto verificar se o trabalho está dentro do esperado no que se refere ao cronograma.
                </p>
            </div>
        </div>
    </div>
    </div>

    <div class="row row-cols-sm-auto gap-4">
    <div class="col">
        <div class="card light-card">
                <div class="card-body">
                    <h3 class="card-title">Como Faz?</h3>
                        <ol class="card-text">
                            <li>Estime o esforço necessário para concluir um determinado sprint.</li>
                            <li>Crie uma linha de base ideal, ou seja, a quantidade ideal de tempo em um período determinado.</li>
                            <li>Acompanhe diariamente o progresso do trabalho em desenvolvimento e atualize o gráfico com a porção de trabalho finalizada em comparação com o trabalho total planejado.</li>
                            <li>Use o gráfico para medir os pontos das histórias finalizadas ao longo dos dias da Sprint e ter uma visibilidade do ritmo de trabalho da equipe.</li>
                        </ol>
                </div>
            </div>
    </div>
        
    <div class="col">
        <div class="card light-card embed-responsive embed-responsive-16by9">
            <div class="card-body">
                <h3 class="card-title">Links Úteis</h3>
                    <div class="container text-center">
                        <div class="row py-2">
                            <div class="col">
                                    <iframe class="rounded embed-responsive-item" src="https://www.youtube.com/embed/JFUvO00-6Y0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                            <div class="col">
                                <div class="card-body">
                                   <h2 class="card-title">Modelo de Sprint Backlog com Gráfico de Burndown</h2>
                                   <p class="card-text">Em formato de planilha no excel.</p>
                                   <a class="card-link btn btn-primary" href="https://www.smartsheet.com/sites/default/files/Sprint-backlog-template-PT.xlsx?_ga=2.222487963.1003614442.1683327436-1742755801.1683327436&_gl=1*1f1hrfy*_ga*MTc0Mjc1NTgwMS4xNjgzMzI3NDM2*_ga_ZYH7XNXMZK*MTY4MzMyOTIzMC4xLjEuMTY4MzMyOTkyOC41Ni4wLjA.">Download</a>
                                </div>
                            </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
</div>
    
</section>

<div class="row-cols-auto d-flex justify-content-center">
    <a href='{{(ante)}}' class="myButton btn">Anterior</a>
    <a href='{{(prox)}}' class="myButton btn">Próximo</a>
</div>
{% endblock %}
