{% extends "base.html"%} 
{%block content%}

<h1 class="bg-transparent dod ">Definition of Ready X Definition of Done</h1>

<br>


<section>
   
   <h2>O que é Definition of Ready (DoR)?</h2>
   <p>Definition of Ready (DoR), que traduzindo para o português significa a “Definição de preparado”, é uma técnica de qualidade e gestão de risco que apoia a entrada de uma história para o delivery. Basicamente são pré-requisitos de um backlog, para que seja considerado apto para iniciar o desenvolvimento.
   O Definition of Ready (DoR) garante a qualidade de uma história, épico, tarefa, sprint ou produto para que o trabalho possa ser iniciado.</p>
      
   <img src="../static/imagens/dor-dod_img/doredod.jpg" alt="">
</section>

<section>

   <h3>DoR na Prática</h3>
   <p>  Depois de todos os critérios serem descritos, é muito importante que todos sejam cumpridos, pois os itens que foram levantados são critérios importantes para se iniciar o desenvolvimento. Caso esses critérios não sejam cumpridos ou sejam deixados de lado, pode haver bloqueios e dificuldades na etapa do desenvolvimento. Dessa forma haverá retrabalho, prazos atrasados e estresse para todo time.</p><br>

</section>

<!-- <section class="d-flex justify-content-center">
   <iframe class="" width="560" height="315" src="https://www.youtube.com/embed/SUS44Lj6oBI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   
  
</section> 
   
<p class="fs-6 text-center">
      vídeo demonstrando como montar uma definition of ready, legendado em português
   </p>

<section> -->

   <h2>O que é Definition of Done(DoD)?</h2>
   <p> Definition of Done, também conhecida por DoD, em português, significa definição de feito. É um artefato usado para garantir a qualidade do produto desenvolvido. <br><br>
    Essa definição é um acordo aplicável a todas as histórias dos usuários, com o intuito de auxiliar na definição dos pontos necessários para que uma tarefa seja classificada como concluída.</p>

</section>

<section>

   <h3>DoD na Prática</h3>
   <p>   O DoD é feito da seguinte forma: o time e Product Owner definem os pontos, alinham com as pessoas que vão fazer, aceitam e recebem o produto e colocam em prática. Essa definição é gerada antes do desenvolvimento do produto e pode ser alterada ao longo de sua evolução. <br><br>
    O time pode encontrar situações que não tinham sido colocadas como definição de pronto, esse pode ser um insight para uma alteração. Já que o time está sendo cobrado de determinada tarefa na entrega da atividade, isso precisaria estar na definition of done para lembrá-los de executar antes de considerar o produto terminado.</p>

</section>

<!-- <section class="d-flex justify-content-center">

   <iframe width="560" height="315" src="https://www.youtube.com/embed/2MD5onpE6jg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</section> -->

<section class="revisao"> <!-- Revisão -->

    <h1>Vamos Revisar</h1>

    <div class="row gy-4">
        <div class="card dark-card">
            <div class="card-body">
                <h3 class="card-title">O Que é?</h3>
                <p class="card-text">
                    <b>DoD estabelece os critérios que devem ser atendidos para que uma tarefa seja considerada concluída</b>. É um acordo entre o time e o Product Owner sobre o que significa “pronto” para cada item do backlog do produto.
                </p>
                <p class="card-text">
                        <b>DoR estabelece os critérios que devem ser atendidos para que uma tarefa seja considerada pronta para ser trabalhada</b>. É um acordo entre o time e o Product Owner sobre o que significa “pronto” para cada item do backlog do produto antes de serem incluídos em uma Sprint.
                </p>
            </div>
        </div>
    

            <div class="card light-card">
                <div class="card-body">
                    <h3 class="card-title">Como Faz?</h3>
                        <ol class="card-text">
                            <li>Reúna o time e o <u><a href="/po">Product Owner</a></u> para definir os critérios de <u><a href="/dor-dod">DoD e DoR</a></u>.</li>
                            <li>Estabeleça critérios claros e objetivos para ambos os artefatos.</li>
                            <li>Certifique-se de que todos os membros do time entendam e concordem com os critérios estabelecidos.</li>
                            <li>Antes de incluir um item do <u><a href="/productbacklog">Product Backlog</a></u> em uma <u><a href="/sprint">Sprint</a></u>, verifique se ele atende aos critérios de DoR.</li>
                            <li>Ao trabalhar em uma tarefa durante a <u><a href="/sprint">Sprint</a></u>, verifique se ela atende aos critérios de DoD antes de considerá-la concluída.</li>
                            <li>Revise regularmente os critérios de <u><a href="/dor-dod">DoD e DoR</a></u> e faça ajustes conforme necessário.</li>
                        </ol>
                </div>
            </div>
        
        
        <div class="card light-card">
            <div class="card-body">
                <h3 class="card-title">Links Úteis</h3>
                    <iframe width="400" height="225" src="https://www.youtube.com/embed/2MD5onpE6jg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

                    <iframe width="400" height="225" src="https://www.youtube.com/embed/SUS44Lj6oBI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            
            </div>
        </div>
    </div>
</section>

<!-- <p class="fs-6 text-center">vídeo demonstrando como montar um definition of done, legendado em português</p> -->
<div class="row-cols-auto d-flex justify-content-center">
    <a href='{{(ante)}}' class="myButton btn">Anterior</a>
    <a href='{{(prox)}}' class="myButton btn">Próximo</a>
</div>

{% endblock %}