{% extends "base.html"%} 
{% block title %}Dod e Dor{% endblock %}
{%block content%}

<h1 class="text-center">Definition of Ready X Definition of Done</h1>

<br>


<section class="container row m-3 p-3">
  
  <div class="col-lg-6">
    <h2 class="text-center">Definition of Ready</h2>
  <ul>
    <li>Deve ser feito antes de iniciar uma tarefa/sprint</li>
    <li>Define o que é necessário para a tarefa</li>
    <li>Garante a qualidade de uma sprint</li>
    <li>Recurso informal do Scrum</li>
    <li>Time e Product Owner definem os critérios</li>
    <li>Requer cumprimento dos critérios descritos</li>   
  </ul>
</div>
  
<div class="col-lg-6">
    <h2 class="text-center">Definiton of Done</h2>
  <ul>
    <li>A imagem de o que deve ser entregue</li>
    <li>Ajuda a classificar uma tarefa</li>
    <li>Baseada nos user stories levantados no <a href="/productbacklog"><u>backlog</u></a></li>
    <li>O time e Product Owner definem os pontos</li>
    <li>Alinham com as pessoas</li>
    <li>Aceitam e recebem o produto e colocam em prática</li>
  </ul>
</div>

   <img src="../static/imagens/dor-dod_img/doredod.jpg" alt="" class="col-lg-12">
</section>



<!-- <section class="d-flex justify-content-center">
   <iframe class="" width="560" height="315" src="https://www.youtube.com/embed/SUS44Lj6oBI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
   
  
</section> 
   
<p class="fs-6 text-center">
      vídeo demonstrando como montar uma definition of ready, legendado em português
   </p>

<section> -->

   

<!-- <section class="d-flex justify-content-center">

   <iframe width="560" height="315" src="https://www.youtube.com/embed/2MD5onpE6jg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</section> -->

<section class="revisao"> <!-- Revisão -->

    <h1>Vamos Revisar</h1>

    <div class="container">
    <div class="row py-4 row-cols-sm-auto gap-4">
    <div class="col">
        <div class="card dark-card">
            <div class="card-body">
                <h3 class="card-title">O Que é?</h3>
                <p class="card-text">
                    <b>DoD estabelece os critérios que devem ser atendidos para que uma tarefa seja considerada concluída</b>. É um acordo entre o time e o Product Owner sobre o que significa “pronto” para cada item do backlog do produto.
                </p>
                <p class="card-text">
                        <b>DoR estabelece os critérios que devem ser atendidos para que uma tarefa seja considerada pronta para ser trabalhada</b>. É um acordo entre o time e o Product Owner sobre o que significa “pronto” para cada item do backlog do produto antes de serem incluídos em uma Sprint.
                </p>
            </div>
        </div>
    </div>
    </div>

    <div class="row row-cols-sm-auto gap-4">
    <div class="col">
            <div class="card light-card">
                <div class="card-body">
                    <h3 class="card-title">Como Faz?</h3>
                        <ol class="card-text">
                            <li>Reúna o time e o <u><a href="/po">Product Owner</a></u> para definir os critérios de <u><a href="/dor-dod">DoD e DoR</a></u>.</li>
                            <li>Estabeleça critérios claros e objetivos para ambos os artefatos.</li>
                            <li>Certifique-se de que todos os membros do time entendam e concordem com os critérios estabelecidos.</li>
                            <li>Antes de incluir um item do <u><a href="/productbacklog">Product Backlog</a></u> em uma <u><a href="/sprint">Sprint</a></u>, verifique se ele atende aos critérios de DoR.</li>
                            <li>Ao trabalhar em uma tarefa durante a <u><a href="/sprint">Sprint</a></u>, verifique se ela atende aos critérios de DoD antes de considerá-la concluída.</li>
                            <li>Revise regularmente os critérios de <u><a href="/dor-dod">DoD e DoR</a></u> e faça ajustes conforme necessário.</li>
                        </ol>
                </div>
            </div>
    </div>
        
    <div class="col">
            <div class="card light-card embed-responsive embed-responsive-16by9">
                <div class="card-body">
                    <h3 class="card-title">Links Úteis</h3>
                        <div class="container text-center">
                            <div class="row py-2">
                                <div class="col">
                                        <iframe class="rounded embed-responsive-item" src="https://www.youtube.com/embed/2MD5onpE6jg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                </div>
                                <div class="col">
                                        <iframe class="rounded embed-responsive-item" src="https://www.youtube.com/embed/SUS44Lj6oBI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  
                            </div>
                        </div>
                        

                        
                
                </div>
            </div>
    </div>
    </div>
    </div>


</section>

<!-- <p class="fs-6 text-center">vídeo demonstrando como montar um definition of done, legendado em português</p> -->
<div class="row-cols-auto d-flex justify-content-center">
    <a href='{{(ante)}}' class="myButton btn">Anterior</a>
    <a href='{{(prox)}}' class="myButton btn">Próximo</a>
</div>

{% endblock %}