{% extends "base.html"%} 
{%block content%}

<h1>Definition of Ready X Definition of Done</h1>


<div>

   <h2>O que é Definition of Ready (DoR)?</h2>
   <p>Definition of Ready (DoR), que traduzindo para o português significa a “Definição de preparado”, é uma técnica de qualidade e gestão de risco que apoia a entrada de uma história para o delivery. Basicamente são pré-requisitos de um backlog, para que seja considerado apto para iniciar o desenvolvimento. <br><br>
    O Definition of Ready (DoR) garante a qualidade de uma história, épico, tarefa, sprint ou produto para que o trabalho possa ser iniciado.</p>

</div>

<div>

   <h2>DoR na Prática</h2>
   <p>  Depois de todos os critérios serem descritos, é muito importante que todos sejam cumpridos, pois os itens que foram levantados são critérios importantes para se iniciar o desenvolvimento. Caso esses critérios não sejam cumpridos ou sejam deixados de lado, pode haver bloqueios e dificuldades na etapa do desenvolvimento. Dessa forma haverá retrabalho, prazos atrasados e estresse para todo time. <br><br>
    Caso algum critério não seja cumprido no DoR, posso iniciar o desenvolvimento? Poder pode, mas o risco é bem alto. Podendo interferir não somente na sprint atual mas também afetando as futuras fazendo com que mais trabalho seja acumulado no futuro.</p>

</div>

<div>

   <h2>Exemplos  de DoR</h2>
   <p>A seguir, vamos ver exemplos práticos de critérios de Definition of Ready (DoR). </p>
   <p>Exemplo 1: Equipe Front-End – História XYZ</p>
   <li> Protótipo de alta fidelidade pronto e validado com o usuário. </li>
   <li> Protótipo de alta fidelidade pronto e entregue para devs. </li>
   <li> Protótipo de acessibilidade pronto e entregue para devs.   </li>
   <li> Todas histórias refinadas e estimadas pelo time de desenvolvimento.   </li>
   <li> Todas as APIs prontas e validadas pelo time.  </li>
    
</div>

<h2>Definition of Done</h2>

<div>

   <h2>O que é Definition of Done(DoD)?</h2>
   <p> Definition of Done, também conhecida por DoD, em português, significa definição de feito. É um artefato usado para garantir a qualidade do produto desenvolvido. <br><br>
    Essa definição é um acordo aplicável a todas as histórias dos usuários, com o intuito de auxiliar na definição dos pontos necessários para que uma tarefa seja classificada como concluída.</p>

</div>

<div>

   <h2>DoD na Prática</h2>
   <p>   O DoD é feito da seguinte forma: o time e Product Owner definem os pontos, alinham com as pessoas que vão fazer, aceitam e recebem o produto e colocam em prática. Essa definição é gerada antes do desenvolvimento do produto e pode ser alterada ao longo de sua evolução. <br><br>
    O time pode encontrar situações que não tinham sido colocadas como definição de pronto, esse pode ser um insight para uma alteração. Já que o time está sendo cobrado de determinada tarefa na entrega da atividade, isso precisaria estar na definition of done para lembrá-los de executar antes de considerar o produto terminado.</p>

</div>

<div>

   <h2>Exemplos de DoD</h2>
   <p>Agora que você já sabe o que é Definition of Done, a pergunta que pode surgir é: mas como eu coloco isso em prática com o meu time?
    Como já foi falado, não existe uma regra. O DoD pode variar de acordo com a decisão do time e especificidades do projeto. Mas é possível citar alguns exemplos genéricos que são eficientes: </p>
    <li>Testes unitários validados;</li>
    <li>Testes funcionais aprovados;</li>
    <li>Média em ambiente;</li>
    <li>Automação;</li>
    <li>Critérios de aceite contemplados;</li>
    <li>Códigos revisados;</li>
    <li>Product Owner aceita a história.</li>
    <li>Cabe lembrar, portanto, que o DoD é sobre tarefas e não sobre times!</li>

</div>

<img src="../static/imagens/dor-dod_img/dordod.png" alt="">

{% endblock %}