{% extends "base.html"%} 
{%block content%}

<h1>Equipe de desenvolvimento</h1>

    <hr>

    <section>
        <h2> O que é uma Equipe de Desenvolvimento Scrum?</h2>

        <div class="image-text">
        <img src="../static/imagens/equipe_img/equipe1.jpg" alt="">
        </div>

        <p>A Equipe de Desenvolvimento Scrum é composta por pessoas dedicadas à criação do produto. Na área de TI,  testadores, designers, especialistas em experiência do usuário, engenheiros de operações e desenvolvedores podem ser inclusos nesse time. Os membros da equipe contam com diferentes conjuntos de habilidades e treinam uns aos outros, para que ninguém seja um gargalo na realização do trabalho. A multifuncionalidade do time e a não divisão em funções específicas colaboram para a dinâmica e ao uso bem-sucedido do Scrum.</p>
    </section>
    
    <section>
        <h3>Qualidades de uma boa Equipe de Desenvolvimento Scrum:</h3>

        <div class="image-text">
            <ul>
                <li>Trabalham de maneira colaborativa para garantir a conclusão eficaz do Sprint;</li><br>
                <li>Defendem práticas de desenvolvimento sustentável;</li><br>
                <li>São auto-organizadas e efetuam os projetos com um senso de coletividade evidente;</li><br>
                <li>Orientam o planejamento e a estimativa de quanto trabalho conseguem concluir em cada Sprint.</li><br>
            </ul>
            <img src="../static/imagens/equipe_img/equipe2.jpg" alt="">
        </div>
    </section>

    <section class="light-card">
        <h3>Curiosidade</h3>

        <div class="image-text">
            <p>O termo Scrum teve origem no Rugby. A imagem ao lado representa a jogada com este nome. São times unidos em busca de um objetivo em comum. Cada jogador da equipe tem uma função durante o Scrum, porém eles sempre andam em bloco, passando a bola para frente, como também para trás.</p>
            <div class="image-equipe">
            <img src="../static/imagens/equipe_img/scrum.jpg" alt="" >
            </div>
        </div>
    </section>
    <a href='{{(href)}}' class="myButton">Próximo</a>

    {% endblock %}