{% extends "base.html"%} 
{%block content%}

<h1>Equipe de desenvolvimento</h1>


    <section class="card border-0 bg-transparent my-3">
        <h2 class="text-center"> O que é uma Equipe de Desenvolvimento Scrum?</h2>

        <p>A Equipe de Desenvolvimento Scrum é composta por pessoas dedicadas à criação do produto. Na área de TI,  testadores, designers, especialistas em experiência do usuário, engenheiros de operações e desenvolvedores podem ser inclusos nesse time. Os membros da equipe contam com diferentes conjuntos de habilidades e treinam uns aos outros, para que ninguém seja um gargalo na realização do trabalho. A multifuncionalidade do time e a não divisão em funções específicas colaboram para a dinâmica e ao uso bem-sucedido do Scrum.</p>
    </section>
    
    <section class="container-fluid">
        <h3 class="text-center">Qualidades de uma boa Equipe de Desenvolvimento Scrum</h3>

        <div class="row d-flex align-items-center">
            <ul class="col-sm-12 col-md-5">
                <li>Trabalham de maneira colaborativa para garantir a conclusão eficaz do Sprint;</li>
                <li>Defendem práticas de desenvolvimento sustentável;</li>
                <li>São auto-organizadas e efetuam os projetos com um senso de coletividade evidente;</li>
                <li>Orientam o planejamento e a estimativa de quanto trabalho conseguem concluir em cada Sprint.</li>
            </ul>
             <img class=" img-fluid col-md-7 col-sm-12" src="../static/imagens/equipe_img/dev team.png" alt="">
        </div>

        
    </section>

    
    <section class="container-fluid">
        <div class="card light-card p-3">
            <h3 class="card-title">Curiosidades</h3>
            <div class="row row-cols-lg-2 card-body">
                    <p class="card-text"> O termo Scrum teve origem no Rugby. A imagem ao lado representa a jogada com este nome. São times unidos em busca de um objetivo em comum. Cada jogador da equipe tem uma função durante o Scrum, porém eles sempre andam em bloco, passando a bola para frente, como também para trás.</p>
                <img src="../static/imagens/equipe_img/scrum.jpg" alt="sans"/>
            </div>
        </div>
    </section>
      

    <div class="row-cols-auto d-flex justify-content-center">
        <a href='{{(ante)}}' class="myButton btn">Anterior</a>
        <a href='{{(prox)}}' class="myButton btn">Próximo</a>
    </div>

    {% endblock %}