{% extends "base.html"%} 
{% block title %}Equipe Dev{% endblock %}
{%block content%}

<h1 class="text-center">Equipe de desenvolvimento</h1>


    <section class="card border-0 bg-transparent my-3">
        <h2> O que é?</h2>

        <p>A Equipe de Desenvolvimento Scrum é composta por pessoas dedicadas à criação do produto. Na área de TI,  testadores, designers, especialistas em experiência do usuário, engenheiros de operações e desenvolvedores podem ser inclusos nesse time. Os membros da equipe contam com diferentes conjuntos de habilidades e treinam uns aos outros, para que ninguém dificulte ou atrase a realização do trabalho. A multifuncionalidade do time e a não divisão em funções específicas colaboram com a dinâmica e ao uso bem-sucedido do Scrum.</p>
    </section>
    
    <section class="container-fluid">
        <h3>Qualidades de uma Boa Equipe de Desenvolvimento</h3>

        <div class="row d-flex align-items-center container p-4">
            <ul class="col-sm-5 col-md-10 ">
                <li>Trabalham de maneira colaborativa para garantir a conclusão eficaz do Sprint;</li>
                <li>Defendem práticas de desenvolvimento sustentável;</li>
                <li>São auto-organizadas e efetuam os projetos com um senso de coletividade evidente;</li>
                <li>Orientam o planejamento e a estimativa de quanto trabalho conseguem concluir em cada Sprint.</li>
            </ul>
             <img class=" img-fluid col-md-7 col-sm-12" src="../static/imagens/equipe_img/dev team.png" alt="">
        </div>

        
    </section>

    
    <section class="container-fluid">
        <div class="card light-card p-3">
            <h3 class="card-title">Curiosidades</h3>
            <div class="row row-cols-lg-2 card-body">
                    <p class="card-text"> O termo Scrum teve origem no Rugby. A imagem ao lado representa a jogada com este nome. São times unidos em busca de um objetivo em comum. Cada jogador da equipe tem uma função durante o Scrum, porém eles sempre andam em bloco, passando a bola para frente, como também para trás.</p>
                <img src="../static/imagens/equipe_img/scrum.jpg" alt="sans"/>
            </div>
        </div>
    </section>


    <hr>

<section class="revisao"> <!-- Revisão -->

    <h1>Vamos Revisar</h1>

    <div class="container">
    <div class="row py-4">
    <div class="col">
        <div class="card dark-card">
            <div class="card-body">
                <h3 class="card-title">O Que é?</h3>
                <p class="card-text">
                    <b>A Equipe de Desenvolvimento é responsável por executar as ações definidas para o Sprint Backlog e criar o produto.</b> Uma de suas principais características é a multidisciplinaridade. Em projetos de TI, é composto por programadores, testadores, designers, escritores e qualquer outra pessoa que tem um papel de “colocar a mão na massa” no desenvolvimento de produtos.
                </p>
            </div>
        </div>
    </div>
    </div>

    <div class="row row-cols-sm-auto gap-4">
    <div class="col">
        <div class="card light-card">
                <div class="card-body">
                    <h3 class="card-title">Responsabilidades</h3>
                        <ol class="card-text">
                            <li>Todos os integrantes da Equipe de Desenvolvimento devem gerenciar seus esforços para concluir a tarefa que lhe foi dada.</li>
                            <li>A equipe deve possuir todo o conhecimento e habilidades necessárias para a conclusão da atividade.</li>
                            <li>Durante a execução da sprint, as equipes de desenvolvimento devem se auto-organizar para realizar o trabalho criativo de design, construção, integração e teste de itens de backlog do produto em incrementos de funcionalidade potencialmente utilizável.</li>
                            <li>Espera-se que cada membro da equipe de desenvolvimento participe do scrum diário, durante o qual os membros da equipe coletivamente inspecionam o progresso em direção à meta do sprint e adaptam o plano para o trabalho do dia atual.</li>
                            <li>Parte de cada sprint deve ser gasto preparando-se para o próximo. Uma grande parte desse trabalho se concentra na preparação do backlog do produto, que inclui a criação e o refinamento, a estimativa e a priorização de itens de backlog do produto.</li>
                            <li>No início de cada sprint, a equipe de desenvolvimento participa do planejamento de sprint.</li>
                        </ol>
                </div>
            </div>
    </div>
        
    <div class="col p-1.5">
        <div class="card light-card embed-responsive embed-responsive-16by9">
            <div class="card-body">
                <h3 class="card-title">Links Úteis</h3>
                    <div class="text-center">
                        <div class="row py-2">
                            <div class="col">
                                    <iframe class="rounded embed-responsive-item" src="https://www.youtube.com/embed/yholSMbac40" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                            <div class="col">
                                    <iframe class="rounded embed-responsive-item" src="https://www.youtube.com/embed/yVXwFairWKs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>  
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
    
</section>
      

    <div class="row-cols-auto d-flex flex-wrap justify-content-center">
        <a href='{{(ante)}}' class="myButton btn">Anterior</a>
        <a href='{{(prox)}}' class="myButton btn">Próximo</a>
    </div>

    {% endblock %}