{% extends "base.html"%} 
{%block content%}
<section class="landing">

    <h1>Scrum: O Método Ágil</h1>
    <h2>Descubra o poder da organização com o Scrum Academy!</h2>

    <div class="landing-image">
       <img src="../static/imagens/home_img/landing_illustration.svg" alt="">

       <div>
          <h3>O treinamento definitivo para aplicar a metodologia ágil mais eficiente do mercado!</h3>
          <p>Aprenda como trabalhar em equipe de forma mais produtiva e entregue resultados surpreendentes em tempo recorde! Não perca mais tempo e se junte à revolução ágil com o Scrum Academy!</p>
          <a class="myButton" href="{{prox}}">Começar</a>
       </div>

    </div>

</section>


<section class="card light-card">

  <div class="card-body">
     <h2>Como Funciona?</h2>
     
     <p>Transforme sua equipe em um sucesso com Scrum - o framework fácil de aprender, mas difícil de dominar! Criado pelos visionários Jeff Sutherland e Ken Schwaber, o Scrum é uma metodologia comprovada para melhorar a entrega de valor ao cliente. </p>
     <img class="card-img" src="../static/imagens/home_img/home1.png" alt="">
     <p>Com o Guia do Scrum, você terá tudo o que precisa para implementar o Scrum com eficácia e transformar sua equipe em uma máquina de produtividade auto-organizada. Aprenda como trabalhar em sprints e entregue resultados em tempo recorde! Não perca mais tempo e adote o Scrum hoje mesmo!</p>
  </div>
   
</section>

<section class="container">
   <h2>Princípios do Scrum</h2>
   <div class="row row-cols-lg-4 row-cols-sm-auto gap-4 justify-content-center">
   
   
      <div class="card light-card">
         <div class="card-body">
            <h3 class="card-title">Transparência</h3>
            <p class="card-text">As equipes trabalham em um ambiente no qual todos têm consciência, através de conversas regulares, dos desafios que os outros podem estar enfrentando</p>
         </div>
      </div>
   
      <div class="card light-card">
         <div class="card-body">
            <h3 class="card-title">Reflexão</h3>
            <p class="card-text">Permite que os membros da equipe revisem o próprio progresso. Os gerentes de projeto usam os insights dessas reuniões de revisão para fazer estimativas e planejar o futuro.</p>
         </div>
      </div>
   
      <div class="card light-card">
         <div class="card-body">
            <h3 class="card-title">Adaptação</h3>
            <p class="card-text">Os membros da equipe podem redefinir tanto as tarefas quanto sua prioridade conforme as mudanças nos requisitos do cliente </p>
         </div>
      </div>
   
   </div>
</section>

<section class="container">
   <h2>Valores do Scrum</h2>

   <div class="row row-cols-lg-4 row-cols-sm-auto gap-4 justify-content-center">
      <div class=" card dark-card">
         <div class="card-body">
            <h3 class="card-title">Compromisso</h3>
            <p class="card-text">Os membros da equipe Scrum se comprometem com tarefas e objetivos baseados em tempo e se dedicam a melhorar continuamente para encontrar a melhor solução.</p>
         </div>
      </div>
   
      <div class="card dark-card">
         <div class="card-body">
            <h3 class="card-title">Coragem</h3>
            <p class="card-text">As equipes Scrum demonstram coragem ao fazer perguntas abertas e desafiadoras. Elas têm discussões honestas e transparentes para chegar à melhor solução</p>
         </div>
      </div>
   
      <div class="card dark-card">
         <div class="card-body">
            <h3 class="card-title">Foco</h3>
            <p class="card-text">A equipe Scrum deve ser capaz de identificar as tarefas mais importantes e priorizá-las, trabalhando em uma de cada vez até que esteja completa antes de passar para a próxima.</p>
         </div>
      </div>
   
      <div class="card dark-card">
         <div class="card-body">
            <h3 class="card-title">Abertura</h3>
            <p class="card-text">A equipe Scrum deve ser transparente em sua comunicação e compartilhar informações relevantes com todos os envolvidos mantendo todos informados sobre o progresso do projeto.</p>
         </div>
      </div>
   
      <div class="card dark-card">
         <div class="card-body">
            <h3 class="card-title">Respeito</h3>
            <p class="card-text">A equipe Scrum deve respeitar as opiniões, habilidades e conhecimentos de cada membro da equipe dando a oportunidade de contribuir para o projeto</p>
         </div>
      </div>
   </div>

</section>

{% endblock %}
