{% extends "base.html"%}
{% block title %}Scrum Academy{% endblock %} 
{%block content%}
<section class="landing min-vh-50 align-self-center mb-5">

   
   <div class="row row-cols-lg-2 mt-5">
      <div class="landing-text d-flex flex-column mb-5">
         <div class="container-lg d-flex">
            <h1>Método Ágil Scrum</h1>
         </div>
         <div class="container-lg d-flex">
            <h4>Escolha uma opção para acessar o conteúdo do site:</h4>
         </div>
         <a class="myButton btn align-self-center d-none d-lg-block w-50" href="{{prox}}">Textos e Vídeos</a> <!-- Botão quando a tela está grande (>= large) -->
         <a class="myButton btn align-self-center d-none d-lg-block w-50" href="/audios">Audiobooks</a> <!-- Botão quando a tela está grande (>= large) -->
      </div>
      
      <img class="rounded float-end" src="../static/imagens/home_img/landing_illustration.svg" alt="">
      <a class="myButton btn d-block d-lg-none w-75" href="{{prox}}">Textos e Vídeos</a> <!-- Botão quando a tela está pequena ou média (< large) -->
      <a class="myButton btn d-block d-lg-none w-75" href="/audios">Audiobooks</a> <!-- Botão quando a tela está pequena ou média (< large) -->
   </div>
   
</section>


<section class="container mt-5">
   <h2 class="text-center">Princípios do Scrum</h2>
   <div class="row row-cols-lg-4 row-cols-sm-auto gap-4 justify-content-center">
   
   
      <div class="card light-card">
         <img class="card-img-top" src="../static/imagens/home_img/transparencia.svg" alt="">
         <div class="card-body">
            <h3 class="card-title">Transparência</h3>
            <p class="card-text">Todos têm consciência, através de conversas regulares, dos desafios que os outros podem estar enfrentando</p>
         </div>
      </div>
   
      <div class="card light-card">
         <img class="card-img-top" src="../static/imagens/home_img/reflexao.svg" alt="">
         <div class="card-body">
            <h3 class="card-title">Reflexão</h3>
            <p class="card-text">Permite que os membros da equipe revisem o próprio progresso e busquem tornar o processo mais eficiente</p>
         </div>
      </div>
   
      <div class="card light-card">
         <img class="card-img-top" src="../static/imagens/home_img/adaptacao.svg" alt="">
         <div class="card-body">
            <h3 class="card-title">Adaptação</h3>
            <p class="card-text">Os membros da equipe podem redefinir tanto as tarefas quanto sua prioridade conforme a necessidade do cliente</p>
         </div>
      </div>
   
   </div>
</section>

<section class="container mt-5">
   <h2 class="text-center">Valores do Scrum</h2>

   <div class="row row-cols-lg-4 row-cols-sm-auto gap-4 justify-content-center">
      <div class=" card dark-card">
         <img class="card-img-top" src="../static/imagens/home_img/compromisso.svg" alt="">
         <div class="card-body">
            <h3 class="card-title">Compromisso</h3>
            <p class="card-text">Os membros da equipe se comprometem com tarefas e objetivos baseados em prazos e se dedicam a melhorar continuamente</p>
         </div>
      </div>
   
      <div class="card dark-card">
         <img class="card-img-top" src="../static/imagens/home_img/coragem.svg" alt="">
         <div class="card-body">
            <h3 class="card-title">Coragem</h3>
            <p class="card-text">As equipes Scrum demonstram coragem ao fazer perguntas abertas e desafiadoras. Elas têm discussões honestas e transparentes para chegar à melhor solução</p>
         </div>
      </div>
   
      <div class="card dark-card">
         <img class="card-img-top" src="../static/imagens/home_img/foco.svg" alt="">
         <div class="card-body">
            <h3 class="card-title">Foco</h3>
            <p class="card-text">A equipe Scrum deve ser capaz de identificar as tarefas mais importantes e priorizá-las, trabalhando em uma de cada vez até que esteja completa antes de passar para a próxima.</p>
         </div>
      </div>
   
      <div class="card dark-card">
         <img class="card-img-top" src="../static/imagens/home_img/abertura.svg" alt="">
         <div class="card-body">
            <h3 class="card-title">Abertura</h3>
            <p class="card-text">A equipe Scrum deve ser transparente em sua comunicação e compartilhar informações relevantes com todos os envolvidos mantendo todos informados sobre o progresso do projeto.</p>
         </div>
      </div>
   
      <div class="card dark-card">
         <img class="card-img-top" src="../static/imagens/home_img/respeito.svg" alt="">
         <div class="card-body">
            <h3 class="card-title">Respeito</h3>
            <p class="card-text">A equipe Scrum deve respeitar as opiniões, habilidades e conhecimentos de cada membro da equipe dando a oportunidade de contribuir para o projeto</p>
         </div>
      </div>
   </div>

</section>

{% endblock %}
