{% extends "base.html"%} 
{%block content%}
    <div>
    <h2>Importância do Scrum</h2>

    <hr>

    <p>Todos os tipos de equipes, como RH, marketing e design, usam o Scrum de maneira eficaz. Porém, o Scrum se destaca mais em equipes de desenvolvimento e engenharia de software. Ele permite que as equipes reajam às mudanças de requisitos com mais rapidez, sem deixar os custos e orçamentos saírem do controle.</p>

    <h4>É importante pelos seguintes motivos:</h4>

    <img src="../static/image 6.png" alt="">
    </div>

    <div>
        <h3>Capacidade de manter a qualidade em situações desafiadoras</h3>

        <p>As verificações de garantia de qualidade são integradas ao framework Scrum. As equipes definem os requisitos no início de cada Sprint. As equipes também avaliam todo o ciclo de vida do software ou do produto enquanto estabelecem uma visão coletiva da conclusão. Isso significa que os requisitos continuam relevantes e alcançáveis em um breve período. O feedback regular do responsável pelo produto e as revisões do Sprint permitem a melhoria contínua da equipe ao longo do projeto.</p>
    
    </div>

    <div>
        <h3>Aumento do retorno sobre o investimento</h3>

        <p>As equipes Scrum priorizam os requisitos com base no valor do cliente e na análise de riscos. Concentra-se em desenvolver um produto de trabalho primário que possa ser lançado no mercado para obter feedback antecipado do cliente.   O desenvolvimento Scrum é caracterizado por redução de defeitos onerosos, eficiência da equipe e uma metodologia rápida que economiza dinheiro em longo prazo.</p>

    </div>

    <div>
        <h3>Equipes mais felizes e mais produtivas</h3>

        <p>Estruturas de equipe autogerenciadas e auto-organizadas permitem que os membros sejam mais criativos e inovadores. Os membros têm a flexibilidade de organizar o trabalho de acordo com seu estilo de trabalho, personalidade e objetivos pessoais. Trabalhando de modo multifuncional, os membros podem aprender novas habilidades e orientar uns aos outros. Como resultado, o Scrum cria um ambiente de apoio e confiança, aumentando a motivação e o moral das pessoas como um todo.</p>
    </div>

    <div>
        <h3>Métricas relevantes que melhoram a estimativa</h3>

        <p>As equipes Scrum escolhem suas próprias métricas para medir a performance do projeto. Estimam prazos, orçamentos e métricas de qualidade com base em sua experiência e seus recursos. O responsável pelo produto tem controle, pois as estimativas são relativas. As equipes obtêm mais suporte no início do projeto e aceleram naturalmente com o passar do tempo. As partes interessadas do projeto revisam os produtos do trabalho e fornecem feedback regular para garantir que o projeto continue no caminho certo.</p>
    </div>
    
    <hr>

    <button> Próximo </button> 
    {% endblock %}
