{% extends "base.html"%} 
{%block content%}

<div>

    <h1>Scrum: O Método Ágil</h1>

</div>

<div>
    
    <h2>O Que é?</h2>
    <p>   O Scrum, também conhecido como método agil, é um framework usado para equipes de alto rendimento se organizarem, sendo um dos métodos mais eficientes e  utilizados pelas empresas. <br> 
          Pensando nisso, o Scrum academy foi criado para ensinar como aplicar esse método na sua vida! Seja em trabalhos escolares em grupo ou até mesmo no trabalho! </p>

</div>

<div>

   <h2>Como Funciona?</h2>
   <p>   O Scrum é um framework que é fácil de aprender, mas difícil de se especializar. Jeff Sutherland e Ken Schwaber, cocriadores do Scrum, explicaram os conceitos subjacentes no Guia do Scrum. O guia fornece uma visão detalhada dos processos Scrum e como implementá-los de modo eficaz. <br>
    A essência do Scrum é uma equipe auto-organizada que entrega valor ao cliente no período de um timebox chamado Sprint. O Scrum define artefatos, funções e eventos associados a cada Sprint.</p>

</div>

<div>

    <h2>Onde Pode Ser Utilizado?</h2>
    <p>   O scrum é uma ferramenta que pode ser usada em qualquer tipo de trabalho em equipe que venha a ser proposto, mas sua principal utilização é na área da ciência da tecnologia, devido ao grande número de casos “abstratos” que se encontram no mundo da tecnologia a abordagem do scrum se torna a mais efetiva.</p>

</div>

<img src="../static/imagens/introducao_img/introducao.jpg" alt="">

{% endblock %}