{% extends "base.html"%} 
{%block content%}

    <h1>Introdução</h1>


<section>
    
    <h2>O Que é?</h2>
    <p>   O Scrum, também conhecido como método agil, é um framework usado para equipes de alto rendimento se organizarem, sendo um dos métodos mais eficientes e  utilizados pelas empresas. <br> 
          Pensando nisso, o Scrum academy foi criado para ensinar como aplicar esse método na sua vida! Seja em trabalhos escolares em grupo ou até mesmo no trabalho! </p>

    <img src="../static/imagens/introducao_img/introducao.jpg" alt="">
</section>
    

<section>

   <h2>Como Funciona?</h2>
   <p>   O Scrum é um framework que é fácil de aprender, mas difícil de se especializar. Jeff Sutherland e Ken Schwaber, cocriadores do Scrum, explicaram os conceitos subjacentes no Guia do Scrum. O guia fornece uma visão detalhada dos processos Scrum e como implementá-los de modo eficaz. <br>
    A essência do Scrum é uma equipe auto-organizada que entrega valor ao cliente no período de um timebox chamado Sprint. O Scrum define artefatos, funções e eventos associados a cada Sprint.</p>

</section>

<section>

    <h2>Onde Pode Ser Utilizado?</h2>
    <p>   O scrum é uma ferramenta que pode ser usada em qualquer tipo de trabalho em equipe que venha a ser proposto, mas sua principal utilização é na área da ciência da tecnologia, devido ao grande número de casos “abstratos” que se encontram no mundo da tecnologia a abordagem do scrum se torna a mais efetiva.</p>

</section>

<hr>

<section class="revisao"> <!-- Revisão -->

    <h1>Vamos Revisar</h1>

    <div class="row gy-4">
        <div class="card dark-card">
            <div class="card-body">
                <h3 class="card-title">O Que é?</h3>
                <p class="card-text">
                    <b>O método Scrum é uma estrutura ágil de gestão de projetos que ajuda as equipes a estruturar e gerenciar o trabalho por meio do conjunto de valores, princípios e práticas</b>. É comumente utilizado por desenvolvedores de softwares e sistemas e tem como objetivo reduzir o tempo de entrega de produtos e se adaptar a mudanças com maior facilidade durante as etapas produtivas.
                </p>
            </div>
        </div>

        <div class="card light-card">
                <div class="card-body">
                    <h3 class="card-title">Como Faz?</h3>
                        <ol class="card-text">
                            <li>Forme uma equipe que conheça o método Scrum.</li>
                            <li>Escolha quem será o <b><a href="/po">Product Owner</a></b>, o <b><a href="/sm">Scrum Master</a></b> e a <b><a href="/equipe">Equipe de Desenvolvimento</a></b>.</li>
                            <li>Crie um <b><a href="/productbacklog">Product Backlog</a></b> com as funcionalidades desejadas para o produto.</li>
                            <li>Defina a duração de cada <b><a href="/sprint">Sprint</a></b> (geralmente de 2 a 4 semanas).</li>
                            <li>Planeje as atividades de cada <b><a href="/sprint">Sprint</a></b> com base no <b><a href="">Product Backlog</a></b>.</li>
                            <li>Realize as atividades da <b><a href="/sprint">Sprint</a></b> e faça Daily Meeting para acompanhar o progresso.</li>
                            <li>Apresente o resultado da <b><a href="/sprint">Sprint</a></b> e colete feedbacks.</li>
                            <li>Faça uma retrospectiva da <b><a href="/sprint">Sprint</a></b> para identificar pontos fortes e fracos.</li>
                        </ol>
                </div>
            </div>
        
        
        <div class="card light-card">
            <div class="card-body">
                <h3 class="card-title">Links Úteis</h3>
                <a href="">Link/Videos/Arquivos/Outras paginas</a>
            
            </div>
        </div>
    </div>
</section>

<div class="row-cols-auto d-flex justify-content-center">
    <a href='{{(ante)}}' class="myButton btn">Anterior</a>
    <a href='{{(prox)}}' class="myButton btn">Próximo</a>
</div>

{% endblock %}