{% extends "base.html"%} 
{%block content%}

<h1>Links Úteis</h1>

<section>

    <h2>Sites e Recursos Adicionais</h2>
    <p>Caro usuário, o objetivo desta página é disponibilizar links úteis e recursos para auxiliá-lo nos procesos scrum. Assim, você pode baixar os modelos e utilizar como preferir, ou até personalizar da maneira que desejar. Observação: estes modelos são apenas exemplos e sugestões, não são exclusivos da metodologia. </p>

</section>


<section>

    <h2>Modelo de Backlog</h2>
    <p>Em formato de planilha no excel.</p>
    <h5><a href="https://www.smartsheet.com/sites/default/files/Agile-product-backlog-template-PT.xlsx?_ga=2.222430363.1003614442.1683327436-1742755801.1683327436&_gl=1*1mroi5w*_ga*MTc0Mjc1NTgwMS4xNjgzMzI3NDM2*_ga_ZYH7XNXMZK*MTY4MzMyOTIzMC4xLjEuMTY4MzMyOTkyOC41Ni4wLjA.">-> Download</a></h5>

</section>

<section>

   <h2>Modelo de Sprint Backlog com Gráfico de Burndown</h2>
   <p>Em formato de planilha no excel.</p>
   <h5><a href="https://www.smartsheet.com/sites/default/files/Sprint-backlog-template-PT.xlsx?_ga=2.222487963.1003614442.1683327436-1742755801.1683327436&_gl=1*1f1hrfy*_ga*MTc0Mjc1NTgwMS4xNjgzMzI3NDM2*_ga_ZYH7XNXMZK*MTY4MzMyOTIzMC4xLjEuMTY4MzMyOTkyOC41Ni4wLjA.">-> Download</a></h5>

</section>

<section>

    <h2>Planning Poker</h2>
    <p>Uma forma de estimar o tempo e o valor de uma tarefa.</p>
    <h5><a href="https://planningpokeronline.com/">-> Link</a></h5>

</section>

<section>

    <h2>Trello</h2>
    <p>Aplicativo para Organização e Eventos das Sprints.</p>
    <a href="https://trello.com/pt-BR"><h5>-> Link</h5></a>

</section>

<section>

    <h2>Teste DISC</h2>
    <p>Site sugestivo para compressão da personalidade adequada a cada função scrum.</p>
    <h5><a href="https://www.pactorh.com.br/teste-disc/disc/faca-agora-teste-disc/"> -> Link</a></h5>

</section>

<div class="row-cols-auto d-flex flex-wrap justify-content-center">
    <a href='{{(ante)}}' class="myButton btn">Anterior</a>
    <a href='{{(prox)}}' class="myButton btn">Conheça mais sobre a gente</a>
</div>


{% endblock %}