{% extends "base.html"%}
{%block content%}

<h1>MVP</h1>

<section>

    <h2>O que é?</h2>

    <p>  MVP (Minimal Viable Product) é a ideia de fornecer ao longo do tempo, versões simplificadas do produto final ao invés de partes separadas inutilizáveis. Com esse conceito, o objetivo se torna primeiramente resolver o problema do cliente o mais rápido possível. Através de diversas entregas, o produto vai recebendo incrementos constantes até que esteja em sua versão final.</p>

</section>
<section class="light-card">
    <div class="row row-cols-lg-2 mt-5">
        <img src="../static/imagens/mvp_img/mvp.jpg" alt="img1">
    </div>
</section>

<section>

    <h3>Vantagens do Uso do MVP</h3>

    <div class="image-text">
        <div class="row d-flex align-items-center">
            <img class="img-fluid col-md-5 col-sm-10" src="../static/imagens/mvp_img/mvp2.jpg" alt="img2">
            <ul class="col-sm-12 col-md-6">
                <li>Feedback mais rápido vindo do cliente</li>
                <li>Resposta rápida do mercado ao produto já em fase inicial</li>
                <li>Permite visualizar a viabilidade de uma ideia antes de ser aplicada</li>
                <li>Monetização do produto ainda nos primeiros meses</li>
            </ul>
        </div>
    </div>

</section>

<div  class="mt-5 mb-5">
    <h1>
        Product increment
    </h1>
</div>

    <section>
        <h3>
            <strong>O Que é?</strong>
        </h3>
        <p>
            O Product Increment é a soma do trabalho completo que foi realizado durante o Sprint, e é um passo em direção ao objetivo geral do produto. Ele deve ser completamente funcional e testável, e deve atender aos critérios de aceitação estabelecidos pelo Product Owner, que é o responsável por definir e priorizar as funcionalidades a serem desenvolvidas.
        </p>
        <div class="row row-cols-lg-2 mt-2 mb-2">
            <img src="../static/imagens/prod_inc/productincrement.png"alt="productincrement">
        </div>
        <h3>
           <strong>Para Resumir:</strong>

        </h3>
        <p>
            Em resumo o Product Increment é uma abordagem da metodologia ágil de desenvolvimento de software, onde o produto é entregue em pequenas partes funcionais, chamadas de incrementos, em ciclos curtos de uma ou duas semanas. Cada incremento deve ser completo e utilizável por si só, permitindo feedback rápido e reduzindo o risco de falha do projeto. No final de cada ciclo, o Product Increment é revisado para determinar os próximos incrementos e ajustes necessários no produto.
        </p>
    </section>
        <section>
        <p>
            Em termos simples, ele se refere a um pequeno pedaço de funcionalidade que é adicionado ao produto em desenvolvimento em cada ciclo de trabalho.
            Em vez de tentar entregar todo o produto de uma só vez, a equipe divide o trabalho em pequenas partes chamadas de "incrementos" e foca em entregar uma parte funcional do produto a cada ciclo, geralmente em um intervalo de tempo de uma ou duas semanas. Cada incremento deve ser completo e utilizável por si só, mesmo que não tenha todas as funcionalidades planejadas.
            O objetivo do Product Increment é permitir que a equipe de desenvolvimento obtenha feedback rapidamente e faça ajustes no produto conforme necessário. Isso também ajuda a reduzir o risco de falha do projeto, pois, ao entregar um incremento a cada ciclo, a equipe pode detectar e corrigir erros ou problemas de usabilidade antes que se tornem grandes problemas.
            Ao final de cada ciclo, o Product Increment é revisado pela equipe, pelo cliente e outras partes interessadas para determinar se atende às expectativas e requisitos, e para definir quais os próximos incrementos serão desenvolvidos. Com cada ciclo, o produto se torna mais completo e funcional, com base nos feedbacks e necessidades dos usuários.
            
        </p>
        <p>
            <strong>
                <a href="/sprint">Esqueceu o que são sprints? Clique e volte ao capítulo sobre Sprints!</a>
            </strong>
        </p>


        <section class="revisao"> <!-- Revisão -->

            <h1>Vamos Revisar</h1>
        
            <div class="container">
            <div class="row py-4 row-cols-sm-auto gap-4">
            <div class="col">
                <div class="card dark-card">
                    <div class="card-body">
                        <h3 class="card-title">O Que é?</h3>
                        <p class="card-text">
                            <b>M.V.P é a versão mais simples de um produto que possui apenas as características essenciais para ser utilizável.</b> É a maneira mais fácil de testar um produto com o menor uso de recursos possível antes de colocá-lo no mercado.
                        </p>
                        <p class="card-text">
                            <b>Product Increment é tudo o que você construiu anteriormente, mais qualquer coisa nova que você construiu no último Sprint.</b> Um Incremento é um passo concreto em direção ao Objetivo do Produto. Cada Incremento é aditivo a todos os Incrementos anteriores e é verificado minuciosamente, garantindo que todos os Incrementos funcionem juntos.
                        </p>
                    </div>
                </div>
            </div>
            </div>
        
            <div class="row row-cols-sm-auto gap-4">
            <div class="col">
                    <div class="card light-card">
                        <div class="card-body">
                            <h3 class="card-title">Como Faz?</h3>
                                <ol class="card-text">
                                    <li>Definir proposta de valor: É importante responder perguntas como: Qual é o problema que o produto ou serviço resolve? Qual é o diferencial em relação aos concorrentes?</li>
                                    <li>Defina seu público e persona.</li>
                                    <li>Lance seu MVP: O objetivo com o MVP é apenas medir se os primeiros usuários enxergam valor na proposta essencial, se pagariam por ela e quais pontos de melhoria enxergam.</li>
                                    <li>Interprete as respostas e feedbacks recebidos.</li>
                                    <li>Aplique as mudanças necessárias utilizando o Product Increment  ou abandone o projeto.</li>
                                </ol>
                        </div>
                    </div>
            </div>
                
            <div class="col">
                <div class="card light-card">
                    <div class="card-body">
                        <h3 class="card-title">Links Úteis</h3>
                        <a href="">Link/Videos/Arquivos/Outras paginas</a>
                    
                    </div>
                </div>
        
            </div>
            </div>
            </div>
        
        
        </section>


    </section>
    <div class="row-cols-auto d-flex justify-content-center">
        <a href='{{(ante)}}' class="myButton btn">Anterior</a>
        <a href='{{(prox)}}' class="myButton btn">Próximo</a>
    </div>


{% endblock %}
