{% extends "base.html"%}
{% block title %}MVP{%endblock%}
{%block content%}

<h1>Mínimo Produto Viável</h1>

<section>

    <h2>O que é?</h2>

    <p>  MVP (Minimal Viable Product) é a ideia de fornecer ao longo do tempo, versões simplificadas do produto final ao invés de partes separadas inutilizáveis. Com esse conceito, o objetivo se torna primeiramente resolver o problema do cliente o mais rápido possível. Através de diversas entregas, o produto vai recebendo incrementos constantes até que esteja em sua versão final.</p>

</section>

    <div class="row row-cols-lg-2 mt-5">
        <img src="../static/imagens/mvp_img/mvp.jpg" alt="img1">
    </div>


<section>

    <h3>Vantagens do Uso do MVP</h3>

            <ul class="col-sm-12 col-md-6">
                <li>Feedback mais rápido vindo do cliente;</li>
                <li>Resposta rápida do mercado ao produto ainda em fase inicial;</li>
                <li>Permite visualizar a viabilidade de uma ideia antes de ser aplicada;</li>
                <li>Monetização do produto ainda nos primeiros meses.</li>
            </ul>

</section>

<section>
    <h2>Product Increment</h2>
   
        <h3>O Que é?</h3>
        <p>Em termos simples, Product Increment se refere a um pequeno pedaço de funcionalidade que é adicionado ao produto em desenvolvimento a cada ciclo de trabalho. Cada incremento deve ser completo e utilizável por si só, mesmo que não tenha todas as funcionalidades planejadas.</p>
        <p>
            O Product Increment é a soma do trabalho completo que foi realizado durante o Sprint, e é um passo em direção ao objetivo geral do produto. Ele deve ser completamente funcional e testável, e deve atender aos critérios de aceitação estabelecidos pelo Product Owner, que é o responsável por definir e priorizar as funcionalidades a serem desenvolvidas.
        </p>

        <div class="row row-cols-lg-2 mt-2 mb-2">
            <img src="../static/imagens/prod_inc/productincrement.png"alt="productincrement">
        </div>

    </section>
        <section>
        <p>
            <strong>
                <a href="/sprint">Esqueceu o que são sprints? Clique e volte ao capítulo sobre Sprints!</a>
            </strong>
        </p>

    <hr>

        <section class="revisao"> <!-- Revisão -->

            <h1>Vamos Revisar</h1>
        
            <div class="container">
            <div class="row py-4 row-cols-sm-auto gap-4">
            <div class="col">
                <div class="card dark-card">
                    <div class="card-body">
                        <h3 class="card-title">Relembrando</h3>
                        <p class="card-text">
                            <b>M.V.P é a versão mais simples de um produto que possui apenas as características essenciais para ser utilizável.</b> É a maneira mais fácil de testar um produto com o menor uso de recursos possível antes de colocá-lo no mercado.
                        </p>
                        <p class="card-text">
                            <b>Product Increment é tudo o que você construiu anteriormente juntamente com qualquer coisa nova que você adiconar na última Sprint.</b> Um Incremento é um passo concreto em direção ao Objetivo do Produto. Cada Incremento é aditivo a todos os Incrementos anteriores e é verificado minuciosamente, garantindo que todos os Incrementos funcionem juntos.
                        </p>
                    </div>
                </div>
            </div>
            </div>
        
            <div class="row row-cols-sm-auto gap-4">
            <div class="col">
                    <div class="card light-card">
                        <div class="card-body">
                            <h3 class="card-title">Como Faz?</h3>
                                <ol class="card-text">
                                    <li>Definir proposta de valor: É importante responder perguntas como: Qual é o problema que o produto ou serviço resolve? Qual é o diferencial em relação aos concorrentes?</li>
                                    <li>Defina seu público e persona.</li>
                                    <li>Lance seu MVP: O objetivo com o MVP é apenas medir se os primeiros usuários enxergam valor na proposta essencial, se pagariam por ela e quais pontos de melhoria enxergam.</li>
                                    <li>Interprete as respostas e feedbacks recebidos.</li>
                                    <li>Aplique as mudanças necessárias utilizando o Product Increment  ou repense o projeto.</li>
                                </ol>
                        </div>
                    </div>
            </div>
                
            <div class="col">
                <div class="card light-card embed-responsive embed-responsive-16by9">
                    <div class="card-body">
                        <h3 class="card-title">Links Úteis</h3>
                            <div class="container text-center">
                                <div class="row py-2">
                                    <div class="col">
                                            <iframe class="rounded embed-responsive-item"  src="https://www.youtube.com/embed/xXh9hjwG7Ag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                    </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
        </div>
        
        
        </section>


    </section>
    <div class="row-cols-auto d-flex flex-wrap justify-content-center">
        <a href='{{(ante)}}' class="myButton btn">Anterior</a>
        <a href='{{(prox)}}' class="myButton btn">Próximo</a>
    </div>


{% endblock %}
