{% extends "base.html"%}
{%block content%}

<h1>MVP</h1>

<section>

    <h2>O que é?</h2>

    <p>  MVP (Minimal Viable Product) é a ideia de fornecer ao longo do tempo, versões simplificadas do produto final ao invés de partes separadas inutilizáveis. Com esse conceito, o objetivo se torna primeiramente resolver o problema do cliente o mais rápido possível. Através de diversas entregas, o produto vai recebendo incrementos constantes até que esteja em sua versão final.</p>

</section>
<section class="light-card">

    <img src="../static/imagens/mvp_img/mvp.jpg" alt="img1">
</section>

<section>

    <h3>Vantagens do Uso do MVP</h3>

    <div class="image-text">
        <img src="../static/imagens/mvp_img/mvp2.jpg" alt="img2">
        <ul>
            <li>Feedback mais rápido vindo do cliente</li>
            <li>Resposta rápida do mercado ao produto já em fase inicial</li>
            <li>Permite visualizar a viabilidade de uma ideia antes de ser aplicada</li>
            <li>Monetização do produto ainda nos primeiros meses</li>
        </ul>
    </div>

</section>
{% endblock %}
