{% extends "base.html"%}
{% block content %}

<h2>Pacer</h2>
<h2>Produtividade - autonomia - Colaboração - Entrega de resultados</h2>

<div>
    <h3>O Que é ?</h3>

     <p>PACER são as características que os usuários do scrum utilizam durante o método, com cada uma contendo quatro níveis de interação: 0, 1, 2 e 3.</p>

</div>

<div>
    <h2>Produtividade</h2>
    
    <h3>Nível 0 - Reativo</h3>

    <li>
    que possui o nível 0 seria quem só é um número no projeto, realizando apenas aquilo que lhe foi pedido por terceiros , e não se importa com o andamento do projeto.
    </li>
    
    <h3>Nível 1 - Desfocado</h3>

    <li>
    O que está no nível 1 é aquele que pega diversas atividades, realiza de qualquer de qualquer jeito e acaba se atrapalhando mesmo nas atividades simples.
    </li>

    <h3>Nível 2 - Ativo</h3>

    <li>
    É aquele que muitas vezes subestima uma tarefa e pega algumas mais difíceis que o esperado, e acaba se atrapalhando em pequenos problemas por falta de planejamento.
    </li>

    <h3>Nível 3 - Proativo</h3>

    <li>
    Alguém do nível 3 é aquele que consegue ter o foco para as atividades mais valiosas, evita o quanto antes os problemas que podem aparecer, e foca na qualidade dos resultados.
    </li>
    <img src="../static/imagens/pacer_img/produtividade.jpg"alt="pacer" height="50%" width="50%">
</div>


<div>
    <h2>Colaboração</h2>

    <h3>Nível 0 - Ausente</h3>

    <li>
    O ausente como o mesmo diz, é aquele que não comparece em nenhuma reunião e não contribui com a realização do projeto em nenhuma de suas etapas.
    </li>
    
    <h3>Nível 1 - Cooperativo</h3>
 
    <li>
    O cooperativo é aquele que possui o interesse mínimo, mas não acaba cumprindo com o próprio papel estabelecido. Ele toma decisões individuais e não se comunica adequadamente com o time.
    </li>
    
    <h3>Nível 2 - Coordernado</h3>
 
    <li>
    O Coordenado é aquele que compartilha as informações seguindo o seu papel definido e compartilhando suas decisões. Caso acontecer um erro no projeto, ele é totalmente capaz de resolvê-lo através da comunicação com a equipe.
    </li>

    <h3>Nível 3 - Colaborativo</h3>
 
    <li> 
    O Colaborativo compartilha ideias e recursos. Através da comunicação com o time, ele é capaz de transmitir confiança e credibilidade em seus discursos.
    </li>
    <img src="../static/imagens/pacer_img/colaboracao.jpg"alt="pacer" height="50%" width="50%">
</div>


<div>
    <h2>Autonomia</h2>

    <h3>Nível 0 - Dirigido</h3>

    <li>  
    O Dirigido é aquele que não consegue iniciar nenhuma atividade por conta própria, ele é dependente de uma pessoa para instruí-lo durante uma tarefa.
    </li>

    <h3>Nível 1 - Gerido</h3>
  
    <li> 
    O gerido é aquele que demora para perceber sua dificuldade em realizar uma tarefa, e também demora para pedir ajuda a alguém.
    </li>

    <h3>Nível 2 - Treinado</h3>
  
    <li> 
    O treinado apenas consegue realizar atividades que já lhe foram ensinadas. Falta para ele a capacidade criativa de inovar na resolução do problema.
    </li>

    <h3>Nível 3 - Autogestão</h3>
  
    <li> 
    O que está no Autogestão tem a capacidade de analisar e avaliar uma atividade, sempre com os prazos estipulados e uma proatividade com relação ao gerenciamento.
    </li>
    <img src="../static/imagens/pacer_img/autonoma.avif"alt="pacer">

</div>


<div>
    <h2>Entrega de resultados</h2>

    <h3>Nível 0 - Não há entregas</h3>

    <li>
    O nível 0 é uma pessoa que acaba não realizando a sua parte do trabalho, e atrapalha o andamento do projeto.
    </li>

    <h3>Nível 1 - Entregas Duvidosas</h3>
 
    <li>
    As pessoas que estão no nível 1 entregam as atividades, porém de uma maneira duvidosa com relação a qualidade e a veracidade. Por conta disso, o time perde qualidade e agilidade, porque precisa verificar uma tarefa.
    </li>

    <h3>Nível 2 - Entregas Confiáveis</h3>
 
    <li>
    As pessoas que estão no nível 2 conseguem entregar partes de atividades ou projetos bem feitos. Dessa maneira, o processo de verificação é mais simples e rápido.
    </li>

    <h3>Nível 3 - Entregas Perfeitas</h3>
 
    <li> 
    O nível 3 caracteriza entregar as tarefas sem a necessidade de passar por alguma verificação para entregar a qualidade idealizada ao produto.
    </li>
    <img src="../static/imagens/pacer_img/entrega_de_resultado.png"alt="pacer">
</div>
{% endblock %}