{% extends "base.html"%}
{% block title %}Planning Poker{% endblock %} 
{%block content%}

    <h1>Planning Poker</h1>



<section>
        <h2>O que é?</h2>
        <div class="image-text">
            <div class="row d-flex align-items-center">
                <div class="col-sm-12 col-md-5">
                    <p>O planning poker por mais que não seja um dos principais artefatos do scrum, é uma das ferramentas mais importantes para designação de tempo para cada tarefa, sendo isso feito através da avaliação da dificuldade de cada tarefa e a expectativa de tempo gasto para tal.
                    </p>
                </div>
                    <img class="img-fluid col-sm-12 col-md-5" src="../static/imagens/plann_poker/poker.jpg"alt="planningpoker">
            </div>
        </div>
    </div>

</section>
<section>
    <h2>Utilização</h2>
    <p>
        A ferramenta possibilita pontuar e classicar as tarefas com um sistema de números utilizando o conceito de escala Fibonacci por meio de um baralho. A estimativa é realizada de forma consensual entre os membros do time de desenvolvimento (desde Júnior até sênior).
    </p>
    <div class="row row-cols-lg-2 row-cols-md-2 mt-5">
        <img src="../static/imagens/plann_poker/planningpoker3.png"alt="planningpoker">
    </div>
    <p>
        Como a sequencia numérica acima, sendo o menor número como o mais facil e rapido de ser realizado e o ultimo sendo o mesmo mais demorado e/ou dificio de ser realizado.

    </p>

</section>
<section>
    <h3>Vantagens</h3>
    <ul>
        <li>
            Estimativas mais precisas e mais bem mensuradas;
        </li>
        <li>
            Evita uma grande variação nas estimativas;
        </li>
        <li>
            Melhor interação entre a equipe de desenvolvimento;
        </li>
        <li>
            Maior entendimento do que deve ser realizado em cada requisito;
        </li>
        <li>
            Ajuda a evitar a “Ancoragem”. As estimativas são analisadas de forma semi-anônima e apenas depois são expostas para todos ao mesmo tempo. Por isso, o Planning Poker ajuda a evitar o processo conhecido como “Ancoragem”, no qual um desenvolvedor que é mais experiente  faz a sua estimativa e todos os outros  classificam com a mesma complexidade ou tempo que o membro mais experiente do time, não sendo necessariamente a estimativa mais correta;
        </li>
        <li>
            Ajuda na organização do backlog da sprint, pois, por meio da classificação da estimativa por pontos, é possível adequar em cada sprint suas respectivas User Stories (com base em um histórico de entrega de pontos do time).
        </li>
    </ul>

</section>

<section class="revisao"> <!-- Revisão -->

    <h1>Vamos Revisar</h1>

    <div class="container">
    <div class="row py-4">
    <div class="col">
        <div class="card dark-card">
            <div class="card-body">
                <h3 class="card-title">O Que é?</h3>
                <p class="card-text">
                    <b>Planning Poker é uma técnica utilizada na reunião de planejamento da Sprint que tem como objetivo realizar a estimativa de esforço sobre as tarefas do backlog do produto.</b> A ferramenta possibilita pontuar e classificar as tarefas com um sistema de números utilizando o conceito de escala Fibonacci por meio de um baralho.
                </p>
            </div>
        </div>
    </div>
    </div>

    <div class="row row-cols-sm-auto gap-4">
    <div class="col">
        <div class="card light-card">
                <div class="card-body">
                    <h3 class="card-title">Como Faz?</h3>
                        <ol class="card-text">
                            <li>O Product Owner seleciona um item do Product Backlog para ser estimado e lê o item para toda a equipe, explicando da forma mais clara possível.</li>
                            <li>Os membros da Equipe de Desenvolvimento discutem o item e o Product Owner fica disponível para esclarecer quaisquer dúvidas que possam surgir.</li>
                            <li>Cada integrante da Equipe de Desenvolvimento tem um baralho de Planning Poker. Caso não haja tal baralho, pode-se utilizar cartões de papel em branco para anotar as estimativas conforme necessário.</li>
                            <li>As estimativas devem seguir a sequência de Fibonacci (0, 1, 2, 3, 5, 8, 13, …).</li>
                            <li>A equipe terá uma estimativa para as fases do Product Backlog.</li>
                            <li>Com isso, é possível priorizar as tarefas e fazer estimativas do esforço que é exigido para executá-las.</li>
                            <li>Isso pode ajudar a equipe a planejar melhor o trabalho e a tomar decisões mais informadas sobre o projeto.</li>
                        </ol>
                </div>
            </div>
    </div>
        
    <div class="col">
        <div class="card light-card embed-responsive embed-responsive-16by9">
            <div class="card-body">
                <h3 class="card-title">Links Úteis</h3>
                    <div class="container text-center">
                        <div class="row py-2">
                            <div class="col">
                                    <iframe class="rounded embed-responsive-item" src="https://www.youtube.com/embed/p387JzsOERY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h2 class="card-title">Planning Poker</h2>
                                    <p class="card-text">Uma forma de estimar o tempo e o valor de uma tarefa.</p>
                                    <a class="card-link btn btn-primary" href="https://planningpokeronline.com/">Link</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>
</div>
    
</section>


<div class="row-cols-auto d-flex justify-content-center">
    <a href='{{(ante)}}' class="myButton btn">Anterior</a>
    <a href='{{(prox)}}' class="myButton btn">Próximo</a>
</div>
    {% endblock %}