{% extends "base.html"%} 
{%block content%}

    <h1>Planning Poker</h1>



    <section>
        <h2>O que é?</h2>
        <div class="image-text">
            <p>O planning poker por mais que não seja um dos principais artefatos do scrum, é uma das ferramentas mais importantes para designação de tempo para cada tarefa, sendo isso feito através da avaliação da dificuldade de cada tarefa e a expectativa de tempo gasto para tal.
            </p>
            <img src="../static/imagens/plann_poker/planningpoker1.png"alt="planningpoker">
        </div>

    </section>
    <section>
        <h2>Utilização</h2>
        <p>
            A ferramenta possibilita pontuar e classicar as tarefas com um sistema de números utilizando o conceito de escala Fibonacci por meio de um baralho. A estimativa é realizada de forma consensual entre os membros do time de desenvolvimento (desde Júnior até sênior).
        </p>
        <img src="../static/imagens/plann_poker/planningpoker3.png"alt="planningpoker">

<p>
    Como a sequencia numérica acima, sendo o menor número como o mais facil e rapido de ser realizado e o ultimo sendo o mesmo mais demorado e/ou dificio de ser realizado.

</p>

</section>
<section>
    <h3>Vantagens</h3>
    <ul>
        <li>
            Estimativas mais precisas e mais bem mensuradas;
        </li>
        <li>
            Evita uma grande variação nas estimativas;
        </li>
        <li>
            Melhor interação entre a equipe de desenvolvimento;
        </li>
        <li>
            Maior entendimento do que deve ser realizado em cada requisito;
        </li>
        <li>
            Ajuda a evitar a “Ancoragem”. As estimativas são analisadas de forma semi-anônima e apenas depois são expostas para todos ao mesmo tempo. Por isso, o Planning Poker ajuda a evitar o processo conhecido como “Ancoragem”, no qual um desenvolvedor que é mais experiente  faz a sua estimativa e todos os outros  classificam com a mesma complexidade ou tempo que o membro mais experiente do time, não sendo necessariamente a estimativa mais correta;
        </li>
        <li>
            Ajuda na organização do backlog da sprint, pois, por meio da classificação da estimativa por pontos, é possível adequar em cada sprint suas respectivas User Stories (com base em um histórico de entrega de pontos do time).
        </li>
    </ul>

</section>
    {% endblock %}