{% extends "base.html"%} 
{%block content%}

<h1>Product Owner</h1>
    
<hr>

<div>

     <p>O Product Owner é o responsável por gerenciar o produto de forma a assegurar o valor do trabalho executado pelo Development Team. Assim, é sua responsabilidade transmitir ao time a visão do produto, bem como determinar o significado de cada um dos itens do backlog e as metas. E o sucesso do produto, por parte do Product Owner, está em sua capacidade de compreender as necessidades do negócio e do mercado.</p>
    
    
    <img src="../static/imagens/po_img/po_img1.png" alt="img1">

</div>

<div>
    <h3>Principais Competências:</h3>

    <ul>
        <li>Compreender e comunicar a necessidades  do cliente</li>
        <li>Ser decisivo</li>
        <li>Garantir que o produto seja entregue e definir prazos de entrega</li>
        <li>Expressar claramente os itens de backlog do produto</li>
        <li>Garantir que o backlog seja transparente e visível</li>
    </ul> 

    <img src="../static/imagens/po_img/po_img2.png" alt="img2">

</div>


<div>

    <p>Para as missões que o PO tem no dia a dia, algumas características são essenciais para exercer esse cargo tão importante. Por isso, a comunicação é possivelmente a principal qualidade que essa pessoa precisa ter. Isso porque passará por ela o engajamento e comprometimento de todos com o processo.</p>

    <p>É fundamental manter o time interessado e focado, alinhados aos objetivos da empresa e dos clientes, bem como instigados a buscar inovação constantemente.</p>

</div>

{% endblock %}