{% extends "base.html"%} 
{%block content%}

<h1>Product Owner</h1>

<section>
    <h2>O que é?</h2>
     <p>O Product Owner é o responsável por gerenciar o produto de forma a assegurar o valor do trabalho executado pelo Development Team. Assim, é sua responsabilidade transmitir ao time a visão do produto, bem como determinar o significado de cada um dos itens do backlog e as metas. E o sucesso do produto, por parte do Product Owner, está em sua capacidade de compreender as necessidades do negócio e do mercado.</p>
    
    
    <img src="../static/imagens/po_img/po_img1.png" alt="img1">

</section>

<section>
    <h3>Principais Competências:</h3>

    <div class="image-text">
        <ul>
            <li>Compreender e comunicar a necessidades  do cliente</li>
            <li>Ser decisivo</li>
            <li>Garantir que o produto seja entregue e definir prazos de entrega</li>
            <li>Expressar claramente os itens de backlog do produto</li>
            <li>Garantir que o backlog seja transparente e visível</li>
        </ul>
        <img src="../static/imagens/po_img/po_img2.png" alt="img2">
    </div>

</section>


<section>

    <p>Para as missões que o PO tem no dia a dia, algumas características são essenciais para exercer esse cargo tão importante. Por isso, a comunicação é possivelmente a principal qualidade que essa pessoa precisa ter. Isso porque passará por ela o engajamento e comprometimento de todos com o processo.</p>

    <p>É fundamental manter o time interessado e focado, alinhados aos objetivos da empresa e dos clientes, bem como instigados a buscar inovação constantemente.</p>

</section>

<section>  <!-- Revisão -->

    <h2>Vamos Revisar</h2>

        <div class="card dark-card">
        <div class="card-body">
            <h3 class="card-title">O Que é?</h3>
            <p class="card-text">
                <b>O Product Owner é responsável por maximizar o valor do produto e do trabalho do time de desenvolvimento</b>. Ele é responsável por gerenciar e priorizar o backlog do produto, garantindo que as necessidades dos clientes sejam atendidas. O Product Owner trabalha em colaboração com o time de desenvolvimento e o Scrum Master para garantir que o produto esteja alinhado com a visão e os objetivos da empresa.
            </p>
        </div>
        </div>

    <div class="revisao">

        <div class="card light-card">
        <div class="card-body">
        <h3 class="card-title">Como Faz?</h3>

            <ol class="card-text">
                    <li>Entenda a visão e os objetivos do produto e da empresa.</li>
                    <li>Gerencie e priorize o <u><a href="/productbacklog">Product Backlog</a></u>, garantindo que ele reflita as necessidades dos clientes.</li>
                    <li>Colabore com a <u><a href="/equipe">Equipe de Desenvolvimento</a></u> e o <u><a href="/sm">Scrum Master</a></u> para planejar e executar as <u><a href="/sprint">Sprints</a></u>.</li>
                    <li>Comunique-se regularmente com os clientes para entender suas necessidades e expectativas.</li>
                    <li>Tome decisões informadas sobre o que deve ser incluído em cada <u><a href="/sprint">Sprint</a></u>.</li>
                    <li>Garanta que a <u><a href="/equipe">Equipe de desenvolvimento</a></u> tenha todas as informações necessárias para concluir suas tarefas.</li>
                    <li>Revise regularmente o progresso do produto e faça ajustes conforme necessário.</li>
            </ol>

        </div>
        </div>

        <div class="card light-card">
        <div class="card-body">
            <h3 class="card-title">Links Úteis</h3>
            <a href="">Link/Videos/Arquivos/Outras paginas</a>
        
        </div>
        </div>


    </div>
</section>

<a href='{{(href)}}' class="myButton">Próximo</a>
{% endblock %}