{% extends "base.html"%} 
{% block title %}Product Backlog{% endblock %}
{%block content%}

<h1>Product Backlog</h1>

<section>

    <h2>O Que é ?</h2>

     <p>O product backlog é uma lista dinâmica de recursos, requisitos, melhorias e correções que devem ser concluídas para que o projeto seja bem-sucedido. Em essência, é a lista de tarefas da equipe, que constantemente é atualizada para se adaptar aos imprevistos ou as exigências do cliente.</p>

    <p>As prioridades do projeto são agrupadas pelo Development Team (termo original em inglês para Time de Desenvolvimento) que definem aquilo que é chamado de Sprint Backlog na Sprint Planning Meeting, ou seja, um pacote de atividades que serão trabalhadas durante a Sprint.</p>
    
    <div class="row row-cols-lg-2  mt-5">
        <img src="../static/imagens/productbacklog_img/backlog1.jpg" alt="img1">
    </div>
</section>


<section>

    <h2>Como estruturar um backlog do produto?</h2>
    <p> Estruturar o backlog de produto pode parecer uma tarefa desafiadora. Por isso estamos aqui para te ajudar! Confira agora o passo a passo de como estruturar o backlog do produto da melhor maneira.</p>
    <h4>1 - Levantar requisitos</h4>
    <p> A primeira etapa para a elaboração de um backlog de produto é o levantamento de requisitos. Uma boa maneira de fazer isso é utilizando estórias dos usuários. As estórias dos usuários mostram as principais necessidades do produto, para quem, por que e o que deve ser desenvolvido. Essa etapa é importante porque ajuda agregar mais valor ao produto e diminuir as chances de inserir tarefas inúteis ou dispensáveis. </p>
    <h4></h4>
     
</section>

<section>
 
    <h4>2 - Defina critérios de priorização</h4>
    <p>Antes de tudo, é essencial definir a ordem de prioridade dos itens no backlog, ou seja, o grau de importância de cada um. Não existe uma fórmula ou ordem correta para priorizar os itens do backlog. Você pode sempre reordená-los de acordo com o feedback do cliente. Porém, existem alguns conceitos iniciais que podem te ajudar nessa função, como: Entender quais itens terão mais impacto no projeto, ou seja, maior valor. </p>
        
</section>

<section>

   <h4>3 - Dê um nome/título aos itens</h4>
   <p>Nomear os itens é muito importante para que a equipe consiga identificar do que se trata. É preferível dar um nome curto e claro aos itens do backlog. Isso ajuda o time a compreender melhor o assunto em questão e diferenciar uma tarefa das outras.</p>

</section>

<section>

   <h4>4 - Escreva uma descrição</h4>
   <p>Nesse momento é hora de detalhar o item criado. É muito importante que a descrição contenha todas as informações da tarefa, explicadas de uma forma clara, objetiva e compreensível. Na descrição pode conter: Referências para a realização da atividade; Informações necessárias para o desenvolvimento da tarefa; Sugestões; Explicações.</p>

</section>

<section>

   <h4>5 - Defina um prazo</h4>
   <p>Agora você precisa definir qual o prazo para cada item ser entregue. Para isso, pode-se analisar o contexto do produto em geral e as metas que foram discutidas nas reuniões de Sprint.Defina informações como início estimado, término estimado e esforço (em horas) estimado.</p>
   <div class="row row-cols-lg-2  mt-5">
    <img src="../static/imagens/productbacklog_img/PB-2.png" alt="img2">
   </div>

</section>

<hr>

<section class="revisao"> <!-- Revisão -->

    <h1>Vamos Revisar</h1>

    <div class="container">
    <div class="row py-4">
    <div class="col">
        <div class="card dark-card">
            <div class="card-body">
                <h3 class="card-title">O Que é?</h3>
                <p class="card-text">
                    <b>Product Backlog é uma lista emergente e ordenada do que é necessário para criação do produto.</b> É a única fonte de trabalho realizada pela equipe Scrum. Os itens do Product Backlog que podem ser concluídos pela equipe Scrum em um Sprint são considerados prontos para seleção em um evento de Planejamento de Sprint.
                </p>
            </div>
        </div>
    </div>
    </div>

    <div class="row row-cols-sm-auto gap-4">
    <div class="col">
        <div class="card light-card">
                <div class="card-body">
                    <h3 class="card-title">Como Faz?</h3>
                        <ol class="card-text">
                            <li>Liste os itens do Product Backlog: Peça aos membros da equipe que pensem na funcionalidade necessária para o produto e escrevam cada ideia em um cartão de índice.</li>
                            <li>Remova duplicatas: Remova ideias duplicadas.</li>
                            <li>Selecione os vinte principais: Peça aos participantes que selecionem as vinte principais ideias.</li>
                            <li>Adicione tamanho, ordem e descrição: Adicione um tamanho, ordem e descrição aos vinte principais itens.</li>
                            <li>Priorize seu backlog: Depois de listar todos os itens do Product Backlog, classifique e priorize as tarefas mais importantes.</li>
                            <li>Atualize regularmente: O Product Backlog deve ser atualizado regularmente para manter o ritmo com o programa.</li>
                        </ol>
                </div>
            </div>
    </div>
        
    <div class="col">
        <div class="card embed-responsive embed-responsive-16by9">
            <div class="card-body">
                <h3 class="card-title">Links Úteis</h3>
                    <div class="container text-center">
                        <div class="row py-2 ">
                            <div class="col ">
                                <iframe class="rounded embed-responsive-item" src="https://www.youtube.com/embed/Gh9PEgZIBCo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                            <div class="col">
                            <div class="card-body">
                                <h2 class="card-title">Modelo de Backlog</h2>
                                <p class="card-text">Em formato de planilha no excel.</p>
                                <a class="card-link btn btn-primary" href="https://www.smartsheet.com/sites/default/files/Agile-product-backlog-template-PT.xlsx?_ga=2.222430363.1003614442.1683327436-1742755801.1683327436&_gl=1*1mroi5w*_ga*MTc0Mjc1NTgwMS4xNjgzMzI3NDM2*_ga_ZYH7XNXMZK*MTY4MzMyOTIzMC4xLjEuMTY4MzMyOTkyOC41Ni4wLjA.">Download</a>
            
                            </div>
                        </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
    
</section>

<div class="row-cols-auto d-flex flex-wrap justify-content-center">
    <a href='{{(ante)}}' class="myButton btn">Anterior</a>
    <a href='{{(prox)}}' class="myButton btn">Próximo</a>
</div>

{% endblock %}