{% extends "base.html"%} 
{%block content%}

<h1>Product Backlog</h1>

<section>

    <h2>O Que é ?</h2>

     <p>O product backlog é uma lista dinâmica de recursos, requisitos, melhorias e correções que devem ser concluídas para que o projeto seja bem-sucedido. Em essência, é a lista de tarefas da equipe, que constantemente é atualizada para se adaptar aos imprevistos ou as exigências do cliente.</p>

    <p>As prioridades do projeto são agrupadas pelo Development Team (termo original em inglês para Time de Desenvolvimento) que definem aquilo que é chamado de Sprint Backlog na Sprint Planning Meeting, ou seja, um pacote de atividades que serão trabalhadas durante a Sprint.</p>
    
    
    <img src="../static/imagens/productbacklog_img/productbacklog_img1.png" alt="img1">

</section>


<section>
    <h3>Características:</h3>

    <ul>
    <li>Priorização</li>
    <li>Visibilidade</li>
    <li>Ordenação de itens</li>
    </ul> 
<div class="image-text">
    <img src="../static/imagens/productbacklog_img/productbacklog_img2.png" alt="img2">
</div>
</section>


<section>

    <p>O product backlog faz parte do framework de desenvolvimento Scrum, e é ligado diretamente ao Product Owner (PO), responsável por sua criação, conteúdo, disponibilidade e priorização. Sua função é documentar de forma clara todos os requisitos que vão surgindo durante o desenvolvimento de um projeto.</p>

</section>
<a href='{{(href)}}' class="myButton">Próximo</a>
{% endblock %}