{% extends "base.html"%} 
{%block content%}

<h1>Quem Somos</h1>

<section class="image-text">

   <img src="../static/imagens/quemsomos_img/logo.png" alt="img" >

   <section class="text">
      <h2>Nossa Proposta</h2>
      <p>Existem coisas que não se aprendem na escola. Por isso, desenvolvemos uma plataforma didática para compartilharmos a metodologia ágil Scrum. Desejamos preparar melhor nossos aprendizes de acordo com o que se exige no mercado de trabalho, de forma acessível e qualificada. Queremos trabalhar com a maior eficiência possível, mas de uma forma rápida e interativa, assim como a metodologia proposta por nós para você.</p>
   </section>

</section>


<section class="image-text">

   <section>
   <h2>Diferenciais</h2>
   <ul>
      <li>Desenvolvemos nosso conteúdo de forma acessível;</li>
      <li>Somos rápidos e práticos;</li>
      <li> Materiais bem ilustrativos, tornando o aprendizado menos entediante;</li>
      <li>Assuntos pensados no que é essencial para o mercado de trabalho;</li>
      <li>Temas desenvolvidos com alta qualidade;</li>
      <li>Equipe qualificada e com entendimento sobre a metodologia Scrum.</li>
   </ul>
   </section>

   <img src="../static/imagens/quemsomos_img/quemsomos2.png" alt="">
   
</section>


<section class="image-text">

  <img src="../static/imagens/quemsomos_img/quemsomos3.png" alt="">

  <section class="text">
  <h2>Contato</h2> 
  <p>Deseja conversar conosco? Gostaríamos muito de ouvir o que você tem a dizer! Entre em contato:</p>
  <p> Telefone: (XX) XXXX-XXXX  </p> 
  <p> E-mail: XXXXX@XXXX.XXX</p>
  </section>


</section>

{% endblock %}