{% extends "base.html"%} 
{% block title %}Quem somos{% endblock %}
{%block content%}


<h1>Quem Somos</h1>
<section class="row row-cols-lg-auto mt-5">
      <div class="col-lg-6">
         <h2>Nossa Proposta</h2>
         <p>Existem coisas que não se aprendem na escola. Por isso, desenvolvemos uma plataforma didática para compartilharmos a metodologia ágil Scrum. Desejamos preparar melhor nossos aprendizes de acordo com o que se exige no mercado de trabalho, de forma acessível e qualificada. Queremos trabalhar com a maior eficiência possível, mas de uma forma rápida e interativa, assim como a metodologia proposta por nós para você.</p>
      </div>
      <div class="col-lg-6">
         <img src="../static/imagens/quemsomos_img/logo.png" alt="">
      </div>

</section>
<section class="row row-cols-lg-auto">
   <div class="col-lg-6">
      <h2>Diferenciais</h2>
      <ul>
         <li>Desenvolvemos nosso conteúdo de forma acessível;</li>
         <li>Somos rápidos e práticos;</li>
         <li> Materiais bem ilustrativos, tornando o aprendizado menos entediante;</li>
         <li>Assuntos pensados no que é essencial para o mercado de trabalho;</li>
         <li>Temas desenvolvidos com alta qualidade;</li>
         <li>Equipe qualificada e com entendimento sobre a metodologia Scrum.</li>
      </ul>
   </div>
   <div class="col-lg-6">
         <img src="../static/imagens/quemsomos_img/quemsomos2.png" alt="">
   </div>

</section>
<section class="row row-cols-lg-auto">

      <div class="col-lg-auto">
         <h2>Contato</h2> 
         <p>Deseja conversar conosco? Gostaríamos muito de ouvir o que você tem a dizer! Entre em contato:</p>
         <p> Telefone: (XX) XXXX-XXXX  </p> 
         <p> E-mail: XXXXX@XXXX.XXX</p>
      </div>

</section>

<div class="row-cols-auto d-flex flex-wrap justify-content-center">
    <a href='{{(prox)}}' class="myButton btn">Voltar ao início</a>
</div>

{% endblock %}