{% extends "base.html"%}
{% block title %}Questões{% endblock %}
{%block content%}

<h1>Questões</h1>

{% if enviado %}


<h2>Resultado</h2>
<table class="respostas">
    <tr>
        <th>Nº de acertos</th>
        <th>Porcentagem de acertos</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>{{ score }} / {{ x }}</td>
        <td>{{scorep}}%</td>
        {% if scorep >= 70 %}
            <td style="background-color: lightgreen">Aprovado</td>
        {% else %}
            <td style="background-color: pink">Reprovado</td>
        {% endif %}
    </tr>
</table>

<h2>Respostas</h2>
<table class="respostas w-100">
    <tr>
        <th>Questão</th>
        <th>Marcada</th>
        <th>Resposta</th>
    </tr>
    {% for i in range(0,x) %}
    <tr style='background-color: {{c[i]}}'>
        <td>{{i+1}}</td> 
        <td>{{r[i]}}</td>
        <td>{{gab[i]}}</td>
    </tr>
    {% endfor %}
</table>


{% endif %}

<form method="post" action="/questoes">
{% for i in range(0,x) %}

    <h2>{{i+1}}. {{q[i]}}</h2>

    <div class="form-check">
        <input class="form-check-input fs-5" type="radio" width="2rem" height="2rem" id='A{{i}}' name='q{{i}}' value='0' required>
        <label class="form-check-label fs-5" for="A{{i}}">A. {{alt[i][0]}}</label>
    </div>

    <div class="form-check">
        <input class="form-check-input fs-5" type="radio" id='B{{i}}' name='q{{i}}' value='1' required>
        <label class="form-check-label fs-5" for="B{{i}}">B. {{alt[i][1]}}</label>
    </div>

    <div class="form-check">
        <input class="form-check-input fs-5" type="radio" id='C{{i}}' name='q{{i}}' value='2' required>
        <label class="form-check-label fs-5" for="C{{i}}">C. {{alt[i][2]}}</label>
    </div>

    <div class="form-check">
        <input class="form-check-input fs-5" type="radio" id='D{{i}}' name='q{{i}}' value='3' required>
        <label class="form-check-label fs-5" for="D{{i}}">D. {{alt[i][3]}}</label>
    </div>

{% endfor %}

    <input name='seed' type="hidden" value='{{ seed }}'>
    <input name='seedalt' type="hidden" value='{{ seedalt }}'>

    {% if not enviado %}
        <button input type="submit" class="btn btn-primary my-5">Enviar</button>
    {% else %}
        <button disabled input type="submit" class="btn btn-primary my-5">Enviar</button>
    {% endif %}
    

</form>





{% endblock %}