{% extends "base.html"%}
{% block title %}Questões{% endblock %}
{%block content%}

<h1>Questões</h1>

{% if enviado %}

<h2>Número de Acertos:</h2>
{{score}}/{{x}}
<h2>Porcentagem de Acertos:</h2>
{{scorep}}%

Respostas:


<p>
{% for i in range(0,x) %}
<span style='color: {{c[i]}}'>{{i+1}}. </span> 
<span style='color: {{c[i]}}'>{{r[i]}} |</span> 
{% endfor %}

<p>Gabarito:</p><br>
<p>
{% for i in range(0,x) %}
{{i+1}}. {{gab[i]}} | 
{% endfor %}
</p>

{% endif %}

<form method="post" action="/questoes">
{% for i in range(0,x) %}

    <h2>{{i+1}}. {{q[i]}}</h2>

    <div class="form-check">
        <input class="form-check-input" type="radio" width="2rem" height="2rem" id='A{{i}}' name='q{{i}}' value='A' required>
        <label class="form-check-label" for="A{{i}}">A. {{alt[i][0]}}</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" id='B{{i}}' name='q{{i}}' value='B' required>
        <label class="form-check-label" for="B{{i}}">B. {{alt[i][1]}}</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" id='C{{i}}' name='q{{i}}' value='C' required>
        <label class="form-check-label" for="C{{i}}">C. {{alt[i][2]}}</label>
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" id='D{{i}}' name='q{{i}}' value='D' required>
        <label class="form-check-label" for="D{{i}}">D. {{alt[i][3]}}</label>
    </div>

{% endfor %}

    <button input type="submit" class="btn btn-primary">Enviar</button>

</form>





{% endblock %}