{% extends "base.html"%}
{% block title %}Questões{% endblock %}
{%block content%}

<h1>Questões</h1>

{% if enviado %}

<h2>Número de Acertos:</h2><br>
<p>{{score}}/{{x}}</p><br>
<h2>Porcentagem de Acertos:</h2><br>
<p>{{scorep}}%</p>
<br>
<p>Respostas:</p><br>

<p>
{% for i in range(0,x) %}
<span style='color: {{c[i]}}'>{{i+1}}. </span> 
<span style='color: {{c[i]}}'>{{r[i]}} |</span> 
{% endfor %}
</p>

<p>Gabarito:</p><br>
<p>
{% for i in range(0,x) %}
{{i+1}}. {{gab[i]}} | 
{% endfor %}
</p>
<br>
<br>

{% endif %}

<form method="post" action="/questoes">
{% for i in range(0,x) %}

    <h2>{{i+1}}. {{q[i]}}</h2>

    <input type="radio" width="2rem" height="2rem" id='a' name='q{{i}}' value='A' required>
    <label for="a"><p>A. {{alt[i][0]}}</p></label><br>

    <input type="radio" id='b' name='q{{i}}' value='B' required>
    <label for="b"><p>B. {{alt[i][1]}}</p></label><br>

    <input type="radio" id='c' name='q{{i}}' value='C' required>
    <label for="c"><p>C. {{alt[i][2]}}</p></label><br>

    <input type="radio" id='d' name='q{{i}}' value='D' required>
    <label for="d"><p>D. {{alt[i][3]}}</p></label><br>

{% endfor %}

    <button input type="submit" class="btn btn-primary">Enviar</button>

</form>

<br>
<br>
<br>

{% endblock %}