{% extends "base.html"%}
{% block title %}Skills{% endblock %}
{%block content%}

<h1>Soft Skills x Hard Skills</h1>

<section>
    <h2>Qual a diferença?</h2>
    <p>    SOFT SKILLS são as competências subjetivas, ou também as habilidades comportamentais de uma pessoa. Isso inclui características de personalidade e de temperamento. Elas são mais difíceis de identificar, afinal dificilmente podem ser medidas ou testadas de uma maneira objetiva.</p>

    <p>    HARD SKILLS são as habilidades técnicas. Ou seja, aquelas competências que podem ser alcançadas, seja fazendo um curso, lendo um livro, indo a um congresso, etc. Elas podem ser testadas e medidas pelos recrutadores sem grandes problemas.</p>
</section>


    <div class="row row-cols-lg-2 mt-5">
        <img src="../static/imagens/shskills_img/shskills1.png" alt="img1">
    </div>


<section>

    <p>   As soft skills são habilidades que afetam as relações interpessoais e não possuem ligação direta com nenhuma atividade profissional. Sendo assim, podem ser utilizadas nos mais variados cargos, empresas ou funções.</p>

    <p>  Por outro lado, as hard skills envolvem conhecimentos práticos que têm como objetivo a realização de alguma atividade ou serviço específico. Por conta disso, não são úteis em qualquer situação. Afinal, para um cargo de contador, por exemplo, seu conhecimento em Photoshop não será relevante.</p>
</section>

<h3>Exemplos:</h3>

<section class="revisao">

    <div class="row gy-4">
        <div class="card light-card">    
            <div class="card-body">
                <h3 class="card-title">Soft Skills</h3>
                        <ul class="card-text">
                            <li class=>Inteligência Emocional;</li>
                            <li class=>Liderança;</li>
                            <li class=>Criatividade;</li>
                            <li class=>Comunicação;</li>
                            <li class=>Resiliência.</li>
                        </ul>
            </div>
        </div>
        
    
        
        <div class="card dark-card">    
            <div class="card-body">
                <h3 class="card-title">Hard Skills</h3>
                    <ul class="card-text">
                        <li>Fluência em um idioma;</li>
                        <li>Programar em Java;</li>
                        <li>Método Scrum;</li>
                        <li>Cientista de Dados;</li>
                        <li>Uso de tecnologia, monitoramento e controle.</li>
                    </ul>
            </div>
        </div>
        
        <div class="card dark-card">    
            <div class="card-body">
                <h3 class="card-title">Como desenvolver essas habilidades?</h3>
                    <p class="card-text">
                        Apesar de algumas habilidades específicas serem complexas e exigirem tempos de adaptação singulares, é totalmente possível desenvolver e aperfeiçoar ambas as skills. Para fortalecer as hard skills, o processo é mais simples: estudar! Isso inclui tanto a educação formal, como a realização de cursos técnicos, superiores, de especialização ou livres, quanto o estudo autodidata. No caso da aprendizagem realizada de modo individual, você pode assistir a vídeos na internet, ler livros ou conquistar o conhecimento por meio da experiência.
                        Em contrapartida, o trabalho com as soft skills é um pouco mais complexo. Afinal, envolvem questões comportamentais. Diante disso, é interessante fazer algum curso ou treinamento que te ajude a desenvolver uma certa habilidade, como por exemplo uma faculdade, que será fundamental para desenvolver o networking e a comunicação.
                    </p>
            </div>
        </div>    
    </div>       
</section>
<div class="row-cols-auto d-flex flex-wrap justify-content-center">
    <a href='{{(ante)}}' class="myButton btn">Anterior</a>
    <a href='{{(prox)}}' class="myButton btn">Próximo</a>
</div>
{% endblock %}