{% extends "base.html"%} 
{%block content%}

<h1>Scrum Master</h1>



<div class="card my-5 border-0 " >
    <div class="row g-0">
      <div class="col-md-4 mt-5 pt-5">
        <img src="../static/imagens/sm_img/sm_img1.png" alt="img1">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">O que é?</h2><br>
          <p class="card-text">O Scrum Master é um membro do time Scrum que busca proteger o andamento do processo de desenvolvimento. Nessa função, a pessoa assume a responsabilidade de livrar os outros membros de interferências externas, impedimentos e dificuldades, ou seja, é responsável por facilitar o processo para o resto do time. Além disso, um bom Scrum Master deve ser capaz de manter seu time motivado e organizado, sendo de total responsabilidade dele promover reuniões diárias, retrospectivas e relatórios.</p>
        
        </div>
      </div>
    </div>
  </div>

<section>

    <p>Para que se possa atuar nessa função é necessário não só desenvolver diversas soft skills, mas também conhecer a fundo o método Scrum. Não a toa, aqueles que atuam como Scrum Master são, na maioria, os que mais conhecem essa metodologia dentro do time.</p>

</section>

<section class=" card dark-card">

    <divc class="card-body row-cols-auto container' ">
        <h2>Para entender melhor</h2>
    
        
        <p>Imagine que seu time Scrum precise montar uma mesa e entregá-la a um cliente. Após separarem as peças, vocês percebem que o único manual disponível para montar aquela mesa está em francês, língua que ninguém da equipe domina. Você, como Scrum Master, deve encontrar um jeito para que esse empecilho não atrapalhe a montagem dessa mesa, seja promovendo um treinamento ou levando aquele manual a um especialista.</p>
        <img class="col-xlg-4"src="../static/imagens/sm_img/sm_img2.png" alt="img2">           
        

    </div>

</section>

<section>
    <div class="row row-cols-lg-2 mt-5">
        <img src="../static/imagens/sm_img/sm_img3.png" alt="img3">
    </div>
</section>

<section class="revisao"> <!-- Revisão -->

    <h1>Vamos Revisar</h1>

    <div class="container">
    <div class="row py-4">
    <div class="col">
        <div class="card dark-card">
            <div class="card-body">
                <h3 class="card-title">O Que é?</h3>
                <p class="card-text">
                    <b>O Scrum Master é responsável por garantir que o time siga as práticas e valores do Scrum</b>. Ele atua como um facilitador, ajudando o time a se auto-organizar e a remover obstáculos que possam impedir o progresso. O Scrum Master também trabalha em colaboração com o Product Owner e o time de desenvolvimento para garantir que as metas da Sprint sejam alcançadas e que o produto esteja alinhado com a visão e os objetivos da empresa.
                </p>
            </div>
        </div>
    </div>
    </div>

        <div class="row row-cols-sm-auto gap-4">
        <div class="col">
            <div class="card light-card">
                <div class="card-body">
                    <h3 class="card-title">Responsabilidades</h3>
                    <ol class="card-text">
                        <li>Facilitar as práticas do Scrum, como a <a href="/sprint"><u>Reunião de Planejamento da Sprint</a></u> e a <a href="/sprint"><u>Revisão da Sprint</a></u>.</li>
                        <li>Ajudar o time a entender e aplicar os valores e princípios do <a href="/introducao"><u>Scrum</a></u>.</li>
                        <li>Trabalhar com o <a href="/po"><u>Product Owner</a></u> para garantir que o <a href="/productbacklog"><u>Product Backlog</a></u> esteja bem definido e priorizado.</li>
                        <li>Ajudar a equipe a identificar e resolver conflitos internos.</li>
                        <li>Promover a colaboração e a comunicação eficaz entre os membros do time.</li>
                        <li>Fornecer feedback construtivo ao time para ajudá-lo a melhorar continuamente.</li>
                    </ol>
                </div>
            </div>
        </div>
        
        
        <div class="col">
            <div class="card light-card">
                <div class="card-body">
                    <h3 class="card-title">Links Úteis</h3>
                        <div class="container text-center">
                            <div class="row py-2">
                                <div class="col">
                                        <iframe class="rounded" width="400" height="225" src="https://www.youtube.com/embed/ZURpplzNEh4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
    </div>
</section>

<div class="row-cols-auto d-flex justify-content-center">
    <a href='{{(ante)}}' class="myButton btn">Anterior</a>
    <a href='{{(prox)}}' class="myButton btn">Próximo</a>
</div>
{% endblock %}