{% extends "base.html"%} 
{%block content%}

<h1>Scrum Master</h1>

<section>
    <h2>O que é?</h2>
    <div class="image-text">
        <img src="../static/imagens/sm_img/sm_img1.png" alt="img1">
        <p>O Scrum Master é um membro do time Scrum que busca proteger o andamento do processo de desenvolvimento. Nessa função, a pessoa assume a responsabilidade de livrar os outros membros de interferências externas, impedimentos e dificuldades, ou seja, é responsável por facilitar o processo para o resto do time. Além disso, um bom Scrum Master deve ser capaz de manter seu time motivado e organizado, sendo de total responsabilidade dele promover reuniões diárias, retrospectivas e relatórios.</p>
        
        
    </div>

</section>

<section>

    <p>Para que se possa atuar nessa função é necessário não só desenvolver diversas soft skills, mas também conhecer a fundo o método Scrum. Não a toa, aqueles que atuam como Scrum Master são, na maioria, os que mais conhecem essa metodologia dentro do time.</p>

</section>

<section class="dark-card">

    <h2>Para entender melhor</h2>

    <div class="image-text">
        <p>Imagine que seu time Scrum precise montar uma mesa e entregá-la a um cliente. Após separarem as peças, vocês percebem que o único manual disponível para montar aquela mesa está em francês, língua que ninguém da equipe domina. Você, como Scrum Master, deve encontrar um jeito para que esse empecilho não atrapalhe a montagem dessa mesa, seja promovendo um treinamento ou levando aquele manual a um especialista.</p>
        <img src="../static/imagens/sm_img/sm_img2.png" alt="img2">

        
    </div>

</section>

<section>

    <img src="../static/imagens/sm_img/sm_img3.png" alt="img3">

</section>
<a href='{{(href)}}' class="myButton">Próximo</a>
{% endblock %}