{% extends "base.html" %}
{% block content %}

    <h1> Sprint Backlog</h1>
    <div>
        <h2>O que é?</h2>
        <p>O Sprint backlog é a lista de itens a serem concluídos pela equipe de desenvolvimento no ciclo atual do Sprint Antes de cada Sprint, a equipe escolhe em quais itens do product backlog trabalhará. O Sprint backlog é flexível e pode evoluir durante um Sprint. Um dos formatos mais utilizados de sprint backlog é o task board:</p>
        <img src="../static/imagens/SBACKLOG/sprintbacklog.png" class="sprintbacklog" alt="sprintbacklog">
    </div>
   
    <section>
        <h2>Artefatos de um Backlog</h2>
        <p>
            <strong >Backlog</strong>: lista  da qual o sprint é retirado;
        </p>
        <p>
            <strong>Stories</strong>: é uma especificação de uma ou mais sentenças na linguagem de negócio, cotidiana do usuário final, ou usuário do sistema que captura o que um usuário faz ou necessita fazer como parte de sua função de trabalho;
        </p>
        <p>
            <strong>To do</strong>: lista de tarefas a serem cumpridas na referente sprint;
        </p>
        <p>
            <strong>In progress</strong>: lista de tarefas em andamento na referente sprint;
        </p>
            <p>
            <strong>To verify</strong>: Lista de tarefas que foram realizadas e precisam ser avaliadas
            </p>
        <p>
            <strong>Done</strong>: Lista de tarefas concluídas.
        </p>
    </section>
    <section>
        <h2>Como desenvolver o user story?</h2>
        <p>
            <strong>Como um </strong>-> Tipo de usuário;
        </p>
        <p>
            <strong>Quero</strong> -> Realizar alguma tarefa;
        </p>
        <p>
            <strong>Para que</strong> -> Eu possa alcançar algum objetivo/benefício/valor.
        </p>
        <p>
            Exemplo: ”Como um vendedor responsável pelo setor de livros, eu quero procurar por livros filtrando pelo nome, para que seja possível verificar se o livro x está disponível para pronta entrega”.
        </p>
    </section>
        
    
   

    

{% endblock %}
