{% extends "base.html"%} 
{% block title %}Sprint{% endblock %}
{%block content%}

<h1>Eventos das Sprints</h1>
    

<section>
    <h2>O que são?</h2>

     <p>O Sprint é o período de tempo real em que a equipe Scrum trabalhará em conjunto para concluir um incremento. Normalmente, uma Sprint dura duas semanas, mas pode variar de acordo com as necessidades do projeto e da equipe. Quanto mais complexo for o trabalho e mais incógnitas houver, mais curto deve ser o Sprint.</p>
    
    <div class="row row-cols-lg-2 mt-5">
        <img src="../static/imagens/sprint_img/sprint1.png" alt="">
    </div>
</section>

<section>
    <h3>Planejamento da Sprint</h3>

    <p>Nesse evento, a equipe estima o trabalho a ser concluído na próximo Sprint. Os membros devem definir metas que sejam específicas, mensuráveis e atingíveis. Este direcionamento é preferenciavelmente feito através do backlog, porque premite o reconhecimento de quais tarefas tem maior prioridade. Ao final da reunião de planejamento, cada membro Scrum sabe como cada incremento pode ser apresentado na Sprint.</p>
    <div class="row row-cols-lg-2 mt-5">
    <img src="../static/imagens/sprint_img/sprint2.png" alt="">
    </div>
</section>

<section>
    <h3>Scrum Diário ou Stand-Up</h3>

    <p> O Scrum diário é uma reunião curta em que os membros da equipe se apresentam e planejam o dia. Eles relatam o trabalho concluído e expressam os desafios no cumprimento das metas do Sprint. Chama-se stand-up porque o objetivo é fazer a reunião o mais breve possível, como quando todos estão de pé.</p>
    <div class="row row-cols-lg-2 mt-5">
    <img src="../static/imagens/sprint_img/sprint_img3.png" alt="">
    </div>
</section>

<section>
    <h3>Revisão e Retrospectiva</h3>

    <p>Quando se trabalha na metodologia Scrum, a revisão de cada etapa é essencial para garantir que o produto seja o que o cliente deseja. Já a retrospectiva funciona como um método de autoavaliação do trabalho feito, avaliando quais aspectos funcionaram e entender os problemas que ocorreram para serem evitados nas próximas sprints, seguindo a ideia de melhoria contínua proposta na metodologia.</p>
    <div class="row row-cols-lg-2 mt-5">
    <img src="../static/imagens/sprint_img/sprint_img4.png" alt="">
    <!-- <img src="../static/imagens/sprint_img/sprint_img5.png" alt=""> -->
    </div>
</section>


<hr>

<section class="revisao"> <!-- Revisão -->

    <h1>Vamos Revisar</h1>

    <div class="container">
    <div class="row py-4 row-cols-sm-auto gap-4">
        <div class="card dark-card">
            <div class="card-body">
                <h3 class="card-title">Sprint</h3>
                <p class="card-text">
                    O Sprint é um período curto e fixo em que uma equipe Scrum trabalha para concluir uma quantidade definida de trabalho. O objetivo é cumprir uma meta dentro de um período determinado e que ao final o produto seja “Pronto”.
                </p>
            </div>
        </div>

        <div class="card dark-card">
            <div class="card-body">
                <h3 class="card-title">Scrum Diário</h3>
                <p class="card-text">
                    O Stand-up ou Scrum Diário é um formato de reunião que tem características específicas, como tempo de duração curto e maior frequência. O objetivo dessas reuniões é organizar um encontro diário com todos os integrantes da equipe para trocar ideias e discutir informações sobre o projeto, bem como priorizar certas atividades.
                </p>
            </div>
        </div>

        <div class="card dark-card">
            <div class="card-body">
                <h3 class="card-title">Revisão da Sprint</h3>
                <p class="card-text">
                    A Retrospectiva da Sprint é o momento em que o Time Scrum se dedica a inspecionar o seu trabalho, avaliando como foi a última Sprint e cria um plano de ação para a próxima. O objetivo é melhorar o trabalho de desenvolvimento da equipe Scrum, fazendo com que uma Sprint seja mais eficiente do que a outra.
                </p>
            </div>
        </div>

        <div class="card light-card">
            <div class="card-body">
                <h3 class="card-title">Como Faz?</h3>
                    <ol class="card-text">
                        <li>Defina a duração do Sprint: A duração da Sprint é limitada a um tempo, e pode variar de uma a quatro semanas.</li>
                        <li>Realize a reunião de planejamento da Sprint: Durante esta reunião, o Time Scrum responde a duas perguntas básicas: o que pode ser feito nesse sprint e como vai ser feito.</li>
                        <li>Escolha os itens para serem trabalhados na Sprint: A escolha dos itens certos para uma sprint é um esforço colaborativo entre o Product Owner, o Scrum Master e a Equipe de Desenvolvimento.</li>
                        <li>Inicie o trabalho no backlog do sprint: No final do planejamento do sprint, a equipe vai estar pronta para começar o trabalho no backlog do sprint.</li>
                        <li>Acompanhe o andamento do trabalho: Durante uma sprint, a equipe acompanha o andamento do trabalho no Scrum diário, ou reunião rápida.</li>
                        <li>Realize a reunião de revisão da Sprint: Ao final de cada sprint, o time de desenvolvimento realiza uma reunião de revisão.</li>
                        <li>Faça a Retrospectiva da Sprint: O time avalia todos os pontos positivos e negativos da Sprint que está sendo encerrada.</li>
                    </ol>
            </div>
    </div>


    <div class="col">
        <div class="card light-card embed-responsive embed-responsive-16by9">
            <div class="card-body">
                <h3 class="card-title">Links Úteis</h3>
                    <div class="container text-center">
                        <div class="row py-2">
                            <div class="col">
                                    <iframe class="rounded embed-responsive embed-responsive-16by9" src="https://www.youtube.com/embed/Snt21-0WxYw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                    </div>
                    

                    
            
            </div>
        </div>
</div>
</div>

</section>


<div class="row-cols-auto d-flex flex-wrap justify-content-center">
    <a href='{{(ante)}}' class="myButton btn">Anterior</a>
    <a href='{{(prox)}}' class="myButton btn">Próximo</a>
</div>
    
{% endblock %}