{% extends "base.html" %}
{% block content %}

  
        <div class="titulonocabecalho">
            <h1> Sprint Backlog</h1>
        </div>
        <div class="textocabecalho">
            <p>O Sprint backlog é a lista de itens a serem concluídos pela equipe de desenvolvimento no ciclo atual do Sprint Antes de cada Sprint, a equipe escolhe em quais itens do product backlog trabalhará. O Sprint backlog é flexível e pode evoluir durante um Sprint. Um dos formatos mais utilizados de sprint backlog é o task board:</p>
        </div>
  
   
        <img src="../static/imagens/SBACKLOG/sprintbacklog.png" class="sprintbacklog" alt="sprintbacklog">
        <div class="a">
            <p>
                <strong >Backlog</strong>:   lista  da qual o sprint é retirado;
            </p>
        </div>
        <div class="b">
            <p>
                <strong>Stories</strong>: é uma especificação de uma ou mais sentenças na linguagem de negócio, cotidiana do usuário final, ou usuário do sistema que captura o que um usuário faz ou necessita fazer como parte de sua função de trabalho;
            </p>
        </div>
        <div class="c">
            <p>
                <strong>To do</strong>: lista de tarefas a serem cumpridas na referente sprint;
            </p>
        </div>
        <div class="d">
            <p>
                <strong>In progress</strong>: lista de tarefas em andamento na referente sprint;
            </p>
        </div>
        <div class="e">
         <p>
            <strong>To verify</strong>: Lista de tarefas que foram realizadas e precisam ser avaliadas
         </p>
        </div>
        <div class="f">
            <p>
                <strong>Done</strong>: Lista de tarefas concluídas.
            </p>
        </div>
        <div class="subtexto_titulo">
           
            <h1>Como desenvolver o user story?</h1>
        </div>
        <div class="subtexto_a">
            <p>
                <strong>Como um </strong>-> Tipo de usuário;
            </p>
        </div>
        <div class="subtexto_b">
            <p>
               <strong>Quero</strong> -> Realizar alguma tarefa;
            </p>
        </div>
        <div class="subtexto_c">
            <p>
                <strong>para que</strong> -> Eu possa alcançar algum objetivo/benefício/valor.
            </p>
        </div>
        <div class="sibtexto1">
            <p>
                Exemplo: ”Como um vendedor responsável pelo setor de livros, eu quero procurar por livros filtrando pelo nome, para que seja possível verificar se o livro x está disponível para pronta entrega”.
            </p>
        </div>
        
    
   

    

{% endblock %}
