{% extends "base.html"%} 
{%block content%}

<h1>SPRINTS</h1>
    

<section>
    <h2>O que são?</h2>

     <p>O Sprint é o período de tempo real em que a equipe Scrum trabalhará em conjunto para concluir um incremento. Normalmente, um Sprint dura duas semanas, mas pode variar de acordo com as necessidades do projeto e da equipe. Quanto mais complexo for o trabalho e mais incógnitas houver, mais curto deve ser o Sprint.</p>
    
    
    <img src="../static/imagens/sprint_img/sprint_img1.png" alt="">

</section>

<section>
    <h3>Planejamento da Sprint</h3>

    <p>Nesse evento, a equipe estima o trabalho a ser concluído no próximo Sprint. Os membros definem metas de Sprint que sejam específicas, mensuráveis e atingíveis estas que são estabelecidas atevés do backlog, o que premite o reconhecimento de quais tarefas tem maior prioridade. Ao final da reunião de planejamento, cada membro Scrum sabe como cada incremento pode ser apresentado no Sprint.</p>

    <img src="../static/imagens/sprint_img/sprint_img2.png" alt="">

</section>

<section>
    <h3>Scrum Diário ou Stand-Up</h3>

    <p> O Scrum diário é uma reunião curta em que os membros da equipe se apresentam e planejam o dia. Eles relatam o trabalho concluído e expressam os desafios no cumprimento das metas do Sprint. Chama-se stand-up porque o objetivo é fazer a reunião o mais breve possível, como quando todos estão de pé.</p>

    <img src="../static/imagens/sprint_img/sprint_img3.png" alt="">
</section>

<section>
    <h3>Revisão e Retrospectiva</h3>

    <p>Quando se trabalha na metodologia Scrum, a revisão de cada etapa é essencial para garantir que o produto seja o que o cliente busca. Já a retrospectiva funciona como um método de autoavaliação do trabalho feito, avaliando quais aspectos funcionaram e entender os problemas que ocorreram para serem evitados nas próximas sprints, seguindo a ideia de melhoria contínua proposta na metodologia.</p>

    <img src="../static/imagens/sprint_img/sprint_img4.png" alt="">
    <!-- <img src="../static/imagens/sprint_img/sprint_img5.png" alt=""> -->
</section>

<section>

    <h2>Vamos Revisar</h2>

        <div class="card dark-card">
        <div class="card-body">
            <h3 class="card-title">O Que é?</h3>
            <p class="card-text">
                Sprints são períodos curtos e fixos em que uma equipe Scrum trabalha para concluir uma quantidade definida de trabalho.
            </p>
        </div>
        </div>

    <div class="revisao">

        <div class="card light-card">
        <div class="card-body">
        <h3 class="card-title">Como Faz?</h3>

            <ol class="card-text">
                <li>Realize a Reunião de Planejamento da Sprint para definir o que será entregue e como será feito.</li>
                <li>Inicie a etapa de execução assim que a Reunião de Planejamento da Sprint terminar.</li>
                <li>Realize reuniões diárias para acompanhar o andamento do trabalho e revelar obstáculos e desafios.</li>
                <li>Após um sprint, realize a Revisão da Sprint para demonstrar o que foi concluído.</li>
                <li>Realize a Retrospectiva da Sprint para avaliar o que funcionou bem e o que pode ser melhorado.</li>
                    
            </ol>

        </div>
        </div>

        <div class="card light-card">
        <div class="card-body">
            <h3 class="card-title">Links Úteis</h3>
            <a href="">Link/Videos/Arquivos/Outras paginas</a>
        
        </div>
        </div>


    </div>
</section>

<a href='{{(href)}}' class="myButton">Próximo</a>
    
{% endblock %}