{% extends "base.html"%} 
{%block content%}

<h1>Eventos das Sprints</h1>
    

<section>
    <h2>O que são?</h2>

     <p>O Sprint é o período de tempo real em que a equipe Scrum trabalhará em conjunto para concluir um incremento. Normalmente, um Sprint dura duas semanas, mas pode variar de acordo com as necessidades do projeto e da equipe. Quanto mais complexo for o trabalho e mais incógnitas houver, mais curto deve ser o Sprint.</p>
    
    
    <img src="../static/imagens/sprint_img/sprint_img1.png" alt="">

</section>

<section>
    <h3>Planejamento da Sprint</h3>

    <p>Nesse evento, a equipe estima o trabalho a ser concluído no próximo Sprint. Os membros definem metas de Sprint que sejam específicas, mensuráveis e atingíveis estas que são estabelecidas atevés do backlog, o que premite o reconhecimento de quais tarefas tem maior prioridade. Ao final da reunião de planejamento, cada membro Scrum sabe como cada incremento pode ser apresentado no Sprint.</p>

    <img src="../static/imagens/sprint_img/sprint_img2.png" alt="">

</section>

<section>
    <h3>Scrum Diário ou Stand-Up</h3>

    <p> O Scrum diário é uma reunião curta em que os membros da equipe se apresentam e planejam o dia. Eles relatam o trabalho concluído e expressam os desafios no cumprimento das metas do Sprint. Chama-se stand-up porque o objetivo é fazer a reunião o mais breve possível, como quando todos estão de pé.</p>

    <img src="../static/imagens/sprint_img/sprint_img3.png" alt="">
</section>

<section>
    <h3>Revisão e Retrospectiva</h3>

    <p>Quando se trabalha na metodologia Scrum, a revisão de cada etapa é essencial para garantir que o produto seja o que o cliente busca. Já a retrospectiva funciona como um método de autoavaliação do trabalho feito, avaliando quais aspectos funcionaram e entender os problemas que ocorreram para serem evitados nas próximas sprints, seguindo a ideia de melhoria contínua proposta na metodologia.</p>

    <img src="../static/imagens/sprint_img/sprint_img4.png" alt="">
    <!-- <img src="../static/imagens/sprint_img/sprint_img5.png" alt=""> -->
</section>

<section class="revisao"> <!-- Revisão -->

    <h1>Vamos Revisar</h1>

    <div class="row gy-4">
        <div class="card dark-card">
            <div class="card-body">
                <h3 class="card-title">O Que é?</h3>
                <p class="card-text">
                    <b>O Scrum Master é responsável por garantir que o time siga as práticas e valores do Scrum</b>. Ele atua como um facilitador, ajudando o time a se auto-organizar e a remover obstáculos que possam impedir o progresso. O Scrum Master também trabalha em colaboração com o Product Owner e o time de desenvolvimento para garantir que as metas da Sprint sejam alcançadas e que o produto esteja alinhado com a visão e os objetivos da empresa.
                </p>

            </div>
        </div>

            <div class="card light-card">
                <div class="card-body">
                    <h3 class="card-title">Como Faz?</h3>
                        <ol class="card-text">
                            <li>Facilitar as práticas do Scrum, como a <a href="/sprint"><u>Reunião de Planejamento da Sprint</a></u> e a <a href="/sprint"><u>Revisão da Sprint</a></u>.</li>
                            <li>Ajudar o time a entender e aplicar os valores e princípios do <a href="/introducao"><u>Scrum</a></u>.</li>
                            <li>Trabalhar com o <a href="/po"><u>Product Owner</a></u> para garantir que o <a href="/productbacklog"><u>Product Backlog</a></u> esteja bem definido e priorizado.</li>
                            <li>Ajudar a equipe a identificar e resolver conflitos internos.</li>
                            <li>Promover a colaboração e a comunicação eficaz entre os membros do time.</li>
                            <li>Fornecer feedback construtivo ao time para ajudá-lo a melhorar continuamente.</li>
                        </ol>
                </div>
            </div>

        
        
        
        <div class="card light-card">
            <div class="card-body">
                <h3 class="card-title">Links Úteis</h3>
                <a href="">Link/Videos/Arquivos/Outras paginas</a>
            
            </div>
        </div>
    </div>
</section>

<div class="row-cols-auto d-flex justify-content-center">
    <a href='{{(ante)}}' class="myButton btn">Anterior</a>
    <a href='{{(prox)}}' class="myButton btn">Próximo</a>
</div>
    
{% endblock %}